@model prj_Traveldate_Core.ViewModels.CConfirmOrderViewModel
@{
    ViewBag.Title = "填寫資料與付款";
    int count = 0;
    decimal sum = 0;
    decimal discount = 0;
    decimal totalPrice = 0;
    decimal getPoint = 0;
}

@using (Html.BeginForm())
{
    <div class="cart_body">
        <div class="Header">
            <h3 class="Heading">@ViewBag.Title + @ViewBag.K</h3>
        </div>
        <div class="Steps">
            <ol class="breadcrumb">
                <li id="Step_cart" class="breadcrumb-item">購物車</li>
                <li id="Step_Confirm" class="breadcrumb-item Step_Current">填寫資料與付款</li>
                <li id="Step_Finish" class="breadcrumb-item">訂購完成</li>
            </ol>
        </div>
        <div class="Confirm-All">
            <div class="Confirm-Left">
                <div class="accordion" id="accordionExample">
                    <div class="Confirm-Container">
                        <h2 class="accordion-header Confirm-Container-Title">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h4 class="title Confirm-Title">訂購人資料</h4>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body Confirm-Container-Content">
                                <div class="traveler-info">
                                    <label for="lastname">　　　姓氏　</label>
                                    <input type="text" name="lastname" id="lastname" size="30" value="@Model.member.LastName" disabled="disabled">
                                    <br />
                                    <label for="firstname">　　　名字　</label>
                                    <input type="text" name="firstname" id="firstname" size="30" value="@Model.member.FirstName" disabled="disabled">
                                    <br />
                                    <label for="idnumber">身份證字號　</label>
                                    <input type="text" name="idnumber" id="idnumber" size="30" value="@Model.member.Idnumber" disabled="disabled">
                                    <br />
                                    <label for="phone">　聯絡電話　</label>
                                    <input type="text" name="phone" id="phone" size="30" value="@Model.member.Phone" disabled="disabled">
                                    <br />
                                    <label for="emailadd">　電子信箱　</label>
                                    <input type="email" name="emailadd" id="emailadd" size="30" value="@Model.member.Email" disabled="disabled">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Confirm-Container">
                        <h2 class="accordion-header Confirm-Container-Title">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                <h4 class="title Confirm-Title">商品詳情</h4>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                @foreach(var item in Model.orders)
                                {
                                    count++;
                                    <div class="accordion mb-2" id="accordionProd">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingP_@count">
                                                <button class="accordion-button mt-2 mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseP_@count" aria-expanded="true" aria-controls="collapseP_@count">
                                                <div class="Confirm-Prod-Info">
                                                    <div class="image-box" style="width:25%;">
                                                        <img class="prodimg" src="~/images/@item.ImagePath" />
                                                    </div>
                                                    <div class="prodbox">
                                                        <h5 class="confirm-subtitle" style="margin:0.3em 0;">
                                                                @item.planName
                                                        </h5>
                                                        <h6 class="subtitle">@item.date</h6>
                                                    </div>
                                                </div>
                                            </button>
                                        </h2>
                                            <div id="collapseP_@count" class="accordion-collapse collapse show" aria-labelledby="headingP_@count" data-bs-parent="#accordionProd">
                                            <div class="accordion-body">
                                                    <div class="confirm-subtitle mt-3 mb-3 d-flex ">
                                                        <img src="~/icons/icons8-palm-tree-48.png" class="CartIcon">
                                                        旅客代表人
                                                    </div>
                                                    <div class="Confirm-Container-Content">
                                                        <div class="radio-group">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="radio_traveler" id="traveler_same" checked>
                                                                <label class="form-check-label" for="traveler_same">
                                                                    同訂購人
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="radio_traveler" id="traveler_choose">
                                                                <label class="form-check-label" for="traveler_choose">
                                                                    自旅伴名單中選擇
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="radio_traveler" id="traveler_input">
                                                                <label class="form-check-label" for="traveler_input">
                                                                    自行填寫
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="Confirm-Container-Content">
                                                            <div class="traveler-info">
                                                                <label for="lastname">　　　姓氏　</label>
                                                                <input type="text" name="lastname" id="lastname" size="30" value="@Model.member.LastName" disabled="disabled">
                                                                <br />
                                                                <label for="firstname">　　　名字　</label>
                                                                <input type="text" name="firstname" id="firstname" size="30" value="@Model.member.FirstName" disabled="disabled">
                                                                <br />
                                                                <label for="idnumber">身份證字號　</label>
                                                                <input type="text" name="idnumber" id="idnumber" size="30" value="@Model.member.Idnumber" disabled="disabled">
                                                                <br />
                                                                <label for="phone">　聯絡電話　</label>
                                                                <input type="text" name="phone" id="phone" size="30" value="@Model.member.Phone" disabled="disabled">
                                                                <br />
                                                                <label for="emailadd">　電子信箱　</label>
                                                                <input type="email" name="emailadd" id="emailadd" size="30" value="@Model.member.Email" disabled="disabled">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="confirm-subtitle mt-3 mb-3 d-flex ">
                                                        <img src="~/icons/icons8-palm-tree-48.png" class="CartIcon">
                                                        同行旅客
                                                    </div>
                                                    <div class="Confirm-Container-Content">
                                                        <div class="radio-group">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="radio_companion" id="companion_input" checked>
                                                                <label class="form-check-label" for="traveler_input">
                                                                    自行填寫
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="radio_companion" id="companion_choose">
                                                                <label class="form-check-label" for="companion_choose">
                                                                    自旅伴名單中選擇
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="Confirm-Container-Content">
                                                            <div class="traveler-info">
                                                                <label for="lastname">　　　姓氏　</label>
                                                                <input type="text" name="lastname" id="lastname" size="30">
                                                                <br />
                                                                <label for="firstname">　　　名字　</label>
                                                                <input type="text" name="firstname" id="firstname" size="30">
                                                                <br />
                                                                <label for="idnumber">身份證字號　</label>
                                                                <input type="text" name="idnumber" id="idnumber" size="30">
                                                                <br />
                                                                <label for="phone">　聯絡電話　</label>
                                                                <input type="text" name="phone" id="phone" size="30">
                                                                <br />
                                                                <label for="emailadd">　電子信箱　</label>
                                                                <input type="email" name="emailadd" id="emailadd" size="30">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="confirm-subtitle mt-3 mb-3 d-flex ">
                                                        <img src="~/icons/icons8-palm-tree-48.png" class="CartIcon">
                                                        特殊需求備註
                                                    </div>
                                                    <div class="Confirm-Container-Content">
                                                        <textarea class="form-control" id="order_note" rows="3"></textarea>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }

                            </div>
                        </div>
                    </div>
                    <div class="Confirm-Container">
                        <h2 class="accordion-header Confirm-Container-Title">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                <span class="title Confirm-Title">使用點數及優惠</span>
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <div class="confirm-subtitle mt-3 mb-3 d-flex ">
                                    <img src="~/icons/icons8-palm-tree-48.png" class="CartIcon">
                                    使用優惠券
                                </div>
                                <button type="button" class="btn my-btn-primary ml-4" data-bs-toggle="modal" data-bs-target="#couponModal">
                                    選擇優惠券
                                </button>
                                <div class="modal fade" id="couponModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">目前可使用的優惠券</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                @{
                                                    if (Model.coupons.Count > 0)
                                                    {
                                                        for (int i = 0; i < Model.coupons.Count; i++)
                                                        {
                                                            <div class="confirm-coupon-content">
                                                                <div style="width:80%;">
                                                                    <h5>
                                                                        @Model.coupons[i].CouponName
                                                                    </h5>
                                                                    <p>
                                                                        @Model.coupons[i].Description
                                                                    </p>
                                                                    @{
                                                                        if (Model.coupons[i].Discount > 1)
                                                                        {
                                                                            <p>折 @(Model.coupons[i].Discount) 元</p>
                                                                        }
                                                                        else
                                                                        {
                                                                            <p>單筆訂單 @string.Format("{0:0.#}", (Model.coupons[i].Discount * 10)) 折</p>
                                                                        }
                                                                    }
                                                                    <h6>使用期限：@string.Format("{0:yyyy/MM/dd}",Model.coupons[i].DueDate.ToString())</h6>
                                                                </div>
                                                                <button type="button" class="btn btn-outline-secondary col-2" data-bs-dismiss="modal">使用</button>
                                                            </div>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <h5 class="noCoupon">目前沒有可用的優惠券喔！</h5>
                                                    }
                                                }
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">不使用優惠券</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="confirm-subtitle mt-3 mb-3 d-flex ">
                                    <img src="~/icons/icons8-palm-tree-48.png" class="CartIcon">
                                    使用點數折抵
                                </div>
                                <div class="Confirm-Container-Content">
                                    <h6 class="subtitle" style="margin-bottom:1em;">目前持有 @Model.member.Discount 點，1點可折抵1元。</h6>
                                    <label for="usepoint">使用點數　</label>
                                    <input type="text" name="usepoint" id="usepoint" size="10">
                                </div>
                                <h5 class="Confirm-summary">共可折抵 0 元</h5>
                            </div>
                        </div>
                    </div>
                    <div class="Confirm-Container">
                        <h2 class="accordion-header Confirm-Container-Title">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                <span class="title Confirm-Title">付款方式</span>
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse show">
                            <div class="accordion-body Confirm-Container-Content">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="radio_payment" id="payment_credit" checked>
                                    <label class="form-check-label" for="payment_credit">
                                        信用卡付款
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="radio_payment" id="payment_linepay">
                                    <label class="form-check-label" for="payment_linepay">
                                        LINE Pay
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="radio_payment" id="payment_jko">
                                    <label class="form-check-label" for="payment_jko">
                                        街口支付
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="radio_payment" id="payment_cvs">
                                    <label class="form-check-label" for="payment_cvs">
                                        超商付款
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="radio_payment" id="payment_paypal">
                                    <label class="form-check-label" for="payment_paypal">
                                        PayPal
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Confirm-Right">
                <div class="Confirm-Container">
                    <div class="Confirm-Container-Title">
                        <img src="~/icons/186405_available_checkmark_done_icon.png" class="Confirm-Arrow" />
                        <span class="title Confirm-Title">訂單明細</span>
                    </div>
                    <div class="accordion-body">
                        @foreach(var item in Model.orders)
                        {
                            <div>
                                <h5 class="confirm-subtitle" style="margin:0.3em 0;">
                                    @item.planName
                                </h5>
                                <h6 class="subtitle">數量：@item.quantity</h6>
                                <h6 class="subtitle">@item.date</h6>
                                <h6 class="Confirm-subtotal">NTD @(item.unitPrice * item.quantity)</h6>
                            </div>
                            sum += (decimal)(item.unitPrice * item.quantity);
                        }
                        <hr style="width:100%;">
                        <table>
                            <tr><td class="col"><h6 class="Confirm-subtotal">商品金額 NTD</h6></td><td class="col-4"><h6 class="Confirm-subtotal">@sum</h6></td></tr>
                            <tr><td class ="col"><h6 class="Confirm-subtotal">折扣金額 NTD</h6></td><td class="col-4"><h6 class="Confirm-subtotal">@discount</h6></td></tr>
                        </table>
                        
                        @{
                            totalPrice = sum - discount;
                            getPoint = Math.Ceiling(totalPrice / 100);
                        }
                        <h6 class="Confirm-total col">總金額 NTD @totalPrice</h6>
                        <span class="badge bg-secondary Confirm-earnpoint">共可獲得 @getPoint 點!</span>

                    </div>
                </div>
                <input type="submit" class="btn my-btn-primary btn-lg" style="margin:1em auto; width:60%" value="確認付款" />
                @Html.ActionLink("回到購物車","ShoppingCart","Cart",null,new {@class="btn btn-outline-secondary btn-lg", style="margin:0 auto;width:60%"})
            </div>

        </div>
    </div>
}

@section Styles{
    <link rel="stylesheet" href="~/css/Cart.css" asp-append-version="true" />
}

@section Scripts{
    <script src="~/js/jsCart.js"></script>
}
