@model prj_Traveldate_Core.ViewModels.CShoppingCartViewModel

@{
    ViewBag.Title = "我的購物車";
    int count = 0;
}
@using (Html.BeginForm())
{
    <div class="cart_body">
        <div class="Header">
            <h3 class="Heading">@ViewBag.Title</h3>
            <input type="hidden" name="id" value="3" />
        </div>
        <div class="Steps">
            <ol class ="breadcrumb">
                <li id="Step_cart" class="breadcrumb-item Step_Current">購物車</li>
                <li id="Step_Confirm" class="breadcrumb-item">填寫資料與付款</li>
                <li id="Step_Finish" class="breadcrumb-item">訂購完成</li>
            </ol>
        </div>
        <div class="Cart-Container ">
            <div>
 @*           <div class="Cart-Items">
                <div class="checkboxes">
                    <img class="uncheckbox CartIconbtn" id="cb1" src="~/icons/icons8-unchecked-32.png" />
                    <img class="checkbox CartIconbtn" src="~/icons/icons8-checkbox-32.png" />
                    <input type="checkbox" id="prodcb">
                </div>
                <div class="image-box">
                    <img src="~/images/8.jpg" />
                </div>
                <div class="about">
                    <h1 class="title">澎湖浮潛海底郵筒 & SUP 立漿體驗 | 山水沙灘</h1>
                    <h3 class="subtitle">2023/07/31</h3>
                </div>
                <div class="counter">
                    <span class="btn btn-outline-dark btn-sm CartIconbtn cartMinus">－</span>
                    <div class="count">1</div>
                    <span class="btn btn-outline-dark btn-sm CartIconbtn cartPlus">＋</span>*@
@*                    <img src="~/icons/icons8-minus-48.png" class="CartIconbtn cartMinus">
                    <div class="count">1</div>
                    <img src="~/icons/icons8-plus-48.png" class="CartIconbtn cartPlus">
*@@*                </div>
                <div class="prices">
                    <img src="~/icons/icons8-edit-48.png" class="CartIconbtn cartEdit">
                    <img src="~/icons/icons8-like-48 (1).png" class="CartIconbtn cartLike">
                    <img src="~/icons/icons8-like-48.png" class="CartIconbtn cartUnlike">
                    <img src="~/icons/icons8-close-48.png" class="CartIconbtn cartDele">
                    <div class="amount">NTD 5999</div>
                </div>
            </div>*@
            </div>
            @foreach(var item in Model.cartitems)
            {
                count++;
                <div class="Cart-Items cartChecked">
                <div class="checkboxes">
                        <img class="checkbox CartIconbtn" src="~/icons/icons8-unchecked-32.png" />
                        <img class="uncheckbox CartIconbtn" src="~/icons/icons8-checkbox-32.png" />
                    <input type="checkbox" id="prodcb" checked>
                </div>
                <div class="image-box">
                        <img class="prodimg" src="data:image/jpg;base64,@Convert.ToBase64String(item.photo)" />
                </div>
                <div class="about">
                    <h1 class="title">@item.planName</h1>
                        <h3 class="subtitle">@item.date</h3>
                </div>
                <div class="counter">
                    <span class="btn btn-outline-dark btn-sm CartIconbtn cartMinus">－</span>
                    <div class="count">@item.quantity</div>
                    <span class="btn btn-outline-dark btn-sm CartIconbtn cartPlus">＋</span>
                </div>
                <div class="prices d-flex flex-column justify-content-between">
                    <div>
                        <img src="~/icons/icons8-edit-48.png" class="CartIconbtn cartEdit" data-bs-toggle="modal" data-bs-target="#EditCartModal">
                        <img src="~/icons/icons8-like-48 (1).png" class="CartIconbtn cartLike">
                        <img src="~/icons/icons8-like-48.png" class="CartIconbtn cartUnlike">
                        <img src="~/icons/icons8-close-48.png" class="CartIconbtn cartDele">
                    </div>
                    <div class="mt-2">
                        <span class="amount">NTD </span>
                            <span class="amount itemprice">@(item.unitPrice * item.quantity)</span>
                    </div>
                </div>
                <div class="modal fade" id="EditCartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">修改訂購內容</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="confirm-coupon-content">
                                    <div style="width:80%;">
                                        <h5>
                                                @item.planName
                                        </h5>
                                        <p>
                                            目前可訂購時間：
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn my-btn-primary col-2" data-dismiss="modal">確定修改</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="SelectAll m-4">
            <img class="checkall CartIconbtn" src="~/icons/icons8-uncheck-all-48.png" />
            <img class="uncheckall CartIconbtn" src="~/icons/icons8-check-all-48.png" />
            <input type="checkbox" id="selectall">
            <label for="selectall" class="mr-2">全選</label>
            <span class="btn btn-outline-dark btn-sm">刪除所有已選項目</span>
        </div>
        <div class="checkout m-auto">
            <div>
                <div class="totalPriceBox">
                    <div class="d-flex align-items-center flex-column align-self-center">
                        <div class="Subtotal">總金額</div>
                        <div class="items">1 項商品</div>
                    </div>
                    <div class="d-flex align-items-center flex-column">
                        <span class="badge badge-light" id="earnpoint">可獲得 0 點!</span>
                        <div>
                            <span class="total-amount ml-2 mr-1">NTD</span>
                            <span class="total-amount ml-1 mr-2" id="totalPrice"></span>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" class="mt-2 btn my-btn-primary btn-lg" value="去結帳" />
        </div>
    </div>
}

<h4 class="mt-lg-4" style="color: #155074;font-weight:600;">您可能也會喜歡...</h4>
<div class="card-deck">
    <div class="card">
                <img class="card-img-top" src="~/images/熱門1.jpg" alt="澎湖｜一日遊 吉貝暢玩水上活動＆來回船票">
        <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title">澎湖｜一日遊 吉貝暢玩水上活動＆來回船票</h5>
                    <div>
                    <p class="card-text">NTD 3000</p><p class="card-text">評價：4.5/5</p>
            </div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="~/images/熱門2.jpg" alt="台灣台東｜蘭嶼達悟族划拼板舟體驗">
        <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title">台灣台東｜蘭嶼達悟族划拼板舟體驗</h5>
                    <div>
                    <p class="card-text">NTD 4000</p><p class="card-text">評價：4.5/5</p>
            </div>
                </div>
            </div>
            <div class="card">
        <img class="card-img-top" src="~/images/熱門3.jpg" alt="新北｜福隆沙雕藝術季「迪士尼百年慶典」包車參觀">
        <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title">新北｜福隆沙雕藝術季「迪士尼百年慶典」包車參觀</h5>
                <div>
                <p class="card-text">NTD 1000</p><p class="card-text">評價：4.5/5</p>
                </div>
                </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/images/熱門4.jpg" alt="花蓮｜後山那一邊 | 花蓮明利飛行傘基地">
            <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title">花蓮｜後山那一邊 | 花蓮明利飛行傘基地</h5>
                <div>
                    <p class="card-text">NTD 3200</p><p class="card-text">評價：4.5/5</p>
                </div>
                </div>
        </div>
</div>


@section Styles{
    <link rel="stylesheet" href="~/css/Cart.css" asp-append-version="true" />

}

@section Scripts{
    <script src="~/js/jsCart.js"></script>
    <script src="~/js/jquery-3.4.1.js"></script>


}

