

@{
    ViewData["Title"] = "AccountSuspend";
}

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <div class="sidebar-brand d-flex align-items-center justify-content-center">
            <div class="sidebar-brand-icon">
                <img src="~/icons/navigation.png" class="icon" id="sidebarToggleTop" />
            </div>
            <div class="sidebar-brand-text mx-3 nav-menu">主選單</div>
        </div>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link align-items-center" href="~/Platform/Review">
                <span>行程審核</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="~/Platform/AccountSuspend">
                <span>停權管理</span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="~/Platform/Coupon">
                <span>優惠券</span>
            </a>
        </li>

    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <h2 style="margin-top:10px; margin-left:15px">停權管理</h2>
                    <ul class="nav nav-tabs" id="myTab" role="tablist" style="border-bottom:none !important; padding-left:18px">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">會員停權管理</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">供應商停權管理</button>
                        </li>
                    </ul>


                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                        <div class="col-md-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary cardTitle">會員停權</h6>
                                </div>
                                <div class="card-body">
                                    <div style="display: flex; align-items: center;">
                                        <button id="AllAccountSus" class="btn btn-outline-danger" style="margin-right: 15px; margin-bottom: 10px;">一鍵停權／復權</button>
                                        <label style="margin-right: 15px;">會員狀態</label>
                                        <div>
                                            <select class="form-select" name="status" id="statusselect" style="margin-bottom:5px;">
                                                <option value="all">所有會員</option>
                                                <option value="active">停權會員</option>
                                                <option value="suspend">正常會員</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="table-responsive">
                                        <table id="memberTable" class="display" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th class="no-datatable-style"><input type="checkbox" id="selectAllCheckbox" /></th>
                                                    <th>姓名</th>
                                                    <th>性別</th>
                                                    <th>身份證號</th>
                                                    <th>出生日期</th>
                                                    <th>電話</th>
                                                    <th>電子郵件</th>
                                                    <th>折扣</th>
                                                    <th>狀態</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var member in Model.Members)
                                                {
                                                    <tr>
                                                        <td class="chkbox"><input type="checkbox" name="memberCheckbox" value="@member.MemberId" /></td>
                                                        <td class="memname">@member.LastName@member.FirstName</td>
                                                        <td>@member.Gender</td>
                                                        <td>@member.Idnumber</td>
                                                        <td>@member.BirthDate.ToShortDateString()</td>
                                                        <td>@member.Phone</td>
                                                        <td>@member.Email</td>
                                                        <td>@member.Discount</td>
                                                        <td>
                                                            <form asp-action="SusMember" method="post">
                                                                <input type="hidden" name="memberId" value="@member.MemberId" />
                                                                <button type="submit" class="btn @(member.Enable ? "btn-danger" : "btn-outline-dark")">
                                                                    @if (member.Enable)
                                                                    {
                                                                        <span>停權</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span>復原</span>
                                                                    }
                                                                </button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                        <div class="col-md-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary cardTitle">供應商停權</h6>
                                </div>
                                <div class="card-body">
                                    <div style="display: flex; align-items: center;">
                                        <button id="AllComSus" class="btn btn-outline-danger" style="margin-right: 15px; margin-bottom: 10px;">一鍵停權／復權</button>
                                        <label style="margin-right: 15px;">供應商狀態</label>
                                        <div>
                                            <select class="form-select" name="comstatus" id="statusselectcom" style="margin-bottom:5px;">
                                                <option value="allcom">所有供應商</option>
                                                <option value="activecom">停權供應商</option>
                                                <option value="suspendcom">正常供應商</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table id="companyTable" class="display" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th class="no-datatable-style"><input type="checkbox" id="selectAllComCheckbox" /></th>
                                                    <th>統編</th>
                                                    <th>旅行社名稱</th>
                                                    <th>城市</th>
                                                    <th>地址</th>
                                                    <th>電話</th>
                                                    <th>聯絡人</th>
                                                    <th>聯絡人職位</th>
                                                    <th>信箱</th>
                                                    <th>服務項目</th>
                                                    <th>狀態</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var com in Model.Companies)
                                                {
                                                    <tr>
                                                        <td class ="chkbox"><input type="checkbox" name="companyCheckbox" value="@com.CompanyId" /></td>
                                                        <td>@com.TaxIdNumber</td>
                                                        <td>@com.CompanyName</td>
                                                        <td>@com.City</td>
                                                        <td>@com.Address</td>
                                                        <td>@com.CompanyPhone</td>
                                                        <td>@com.Contact</td>
                                                        <td>@com.Title</td>
                                                        <td>@com.ComEmail</td>
                                                        <td>@com.ServerDescription</td>
                                                        <td>
                                                            <form asp-action="SusCompany" method="post">
                                                                <input type="hidden" name="comId" value="@com.CompanyId" />
                                                                <button type="submit" class="btn @(com.ComEnable ? "btn-danger" : "btn-outline-dark")">
                                                                    @if (com.ComEnable)
                                                                    {
                                                                        <span>停權</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span>復原</span>
                                                                    }
                                                                </button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    </div>
                </div>



          
            </div>
               
          
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    @section Styles{

    <link rel="stylesheet" href=https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css />
        <style>
            .card-body {
                height: unset;
            }

            .myrow {
                display: flex;
                align-content: flex-start;
                flex-direction: column;
                width: 100%;
            }

           

        .no-datatable-style.sorting {
            background-image: none !important;
            cursor: default !important;
        }

        /* Remove additional attributes and inline styles */
        .no-datatable-style {
            border: none !important;
            width: auto !important;
            position: relative; /* Ensure relative positioning for pseudo elements */
        }

            /* Hide ::before and ::after pseudo elements */
            .no-datatable-style::before,
            .no-datatable-style::after {
                content: none !important;
            }

        .chkbox{
            width:15px;
        }

        .memname{
            width:80px;
        }
        </style>
    }

@section Scripts{

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
     <script>
            $(document).ready(function () {
                $('#memberTable').DataTable();
                $('#companyTable').DataTable();
        });
    </script>

        <script>
      //會員全選
            var selectAllCheckbox = document.getElementById("selectAllCheckbox");
            var memberCheckboxes = document.querySelectorAll('input[name="memberCheckbox"]');
            selectAllCheckbox.addEventListener("click", function () {
                for (var i = 0; i < memberCheckboxes.length; i++) {
                    memberCheckboxes[i].checked = selectAllCheckbox.checked;
                }
            });

        //廠商全選
        var selectAllComCheckbox = document.getElementById("selectAllComCheckbox");
        var companyCheckboxes = document.querySelectorAll('input[name="companyCheckbox"]');
        selectAllComCheckbox.addEventListener("click", function () {
            for (var i = 0; i < companyCheckboxes.length; i++) {
                companyCheckboxes[i].checked = selectAllComCheckbox.checked;
            }
        });

        $(document).ready(function () {
            $("#AllAccountSus").click(function (e) {
                e.preventDefault();
                var statusValue = $("input[name='status']:checked").val();
                var selectedMemberIds = [];

                $("input[name='memberCheckbox']:checked").each(function () {
                    selectedMemberIds.push($(this).val());
                });

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SusAllMember", "Platform")",
                    data: { memberIds: selectedMemberIds, status: statusValue },
                    success: function (result) {
                        location.reload(); 
                    },
                    error: function (error) {
                    }
                });
            });
        });

        $(document).ready(function () {
            var statusSelect = $("#statusselect");

            // 初始設置為所有會員
            filterMembers("all");

            // 當下拉選單變更時
            statusSelect.change(function () {
                var selectedStatus = $(this).val();
                filterMembers(selectedStatus);
            });

            // 過濾表格行
            function filterMembers(status) {
                // 顯示所有行
                $("tbody tr").show();

                // 根據選擇的狀態過濾行
                if (status === "suspend") {
                    $("tbody tr").not(":has(button.btn-danger)").hide();
                } else if (status === "active") {
                    $("tbody tr").not(":has(button.btn-outline-dark)").hide();
                }
            }
        });

        $(document).ready(function () {
            $("#AllComSus").click(function (e) {
                e.preventDefault();
                var statusValue = $("input[name='comstatus']:checked").val();
                var selectedComIds = [];

                $("input[name='companyCheckbox']:checked").each(function () {
                    selectedComIds.push($(this).val());
                });

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SusAllCom", "Platform")",
                    data: { memberIds: selectedComIds, status: statusValue },
                    success: function (result) {
                        location.reload();
                    },
                    error: function (error) {
                    }
                });
            });
        });

        </script>

    }

