

@{
    ViewData["Title"] = "AccountSuspend";
}

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <div class="sidebar-brand d-flex align-items-center justify-content-center">
            <div class="sidebar-brand-icon">
                <img src="~/icons/navigation.png" class="icon" id="sidebarToggleTop" />
            </div>
            <div class="sidebar-brand-text mx-3 nav-menu">主選單</div>
        </div>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link align-items-center" href="~/Platform/Review">
                <span>行程審核</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="~/Platform/AccountSuspend">
                <span>停權管理</span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="~/Platform/Coupon">
                <span>優惠券</span>
            </a>
        </li>

    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <h2 style="margin-top:10px; margin-left:15px">會員／旅行社停權管理</h2>

            <div class="col-md-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="tab">
                                <button class="tablinks m-0 font-weight-bold text-primary" onclick="openAccount(event, 'Member')">會員停權</button>
                                <button class="tablinks m-0 font-weight-bold text-primary" onclick="openAccount(event, 'Company')">旅行社停權</button>
                        </div>
                    </div>
                <div id="Member" class="tabcontent">
                    <div class="card-body">
                        <div class="table-responsive">
                                    <form id="bulkDisableForm">
                                        <div style="display: flex; align-items: center;">
                                            <button id="bulkToggleButton" class="btn btn-primary">批量操作</button>
                                            <div style="margin-left: 10px; display: flex; align-items: center;">
                                                <label style="margin-right: 10px;">會員狀態</label>
                                                <select class="form-select" name="memberSelect">
                                                    <option value="all">全部狀態</option>
                                                    <option value="false">停權會員</option>
                                                    <option value="true">正常會員</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                    
                            <table id="memberTable" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="no-datatable-style"><input type="checkbox" id="selectAllCheckbox" /></th>
                                        <th>姓名</th>
                                        <th>性別</th>
                                        <th>身份證號</th>
                                        <th>出生日期</th>
                                        <th>電話</th>
                                        <th>電子郵件</th>
                                        <th>折扣</th>
                                        <th>狀態</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var member in Model.Members)
                                    {
                                        <tr>
                                           　<td class="chkbox"><input type="checkbox" name="memberCheckbox" value="@member.MemberId" /></td>
                                                    <td class="memname">@member.LastName@member.FirstName</td>
                                            <td>@member.Gender</td>
                                            <td>@member.Idnumber</td>
                                            <td>@member.BirthDate.ToShortDateString()</td>
                                            <td>@member.Phone</td>
                                            <td>@member.Email</td>
                                                    <td>@member.Discount</td>
                                                    <td>
                                                        <form asp-action="SusMember" method="post">
                                                            <input type="hidden" name="memberId" value="@member.MemberId" />
                                                            <button type="submit" class="btn @(member.Enable ? "btn-outline-dark" : "btn-danger")">
                                                                @if (member.Enable)
                                                                {
                                                                    <span>復原</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>停權</span>
                                                                }
                                                            </button>
                                                        </form>
                                                    </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div id="Company" class="tabcontent">
                    <div class="card-body">
                        <div class="table-responsive">
                                    <button class="btn my-btn-primary mb-4">一鍵停權</button>
                            <table id="companyTable" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                                <th class="no-datatable-style"><input type="checkbox" id="selectAllComCheckbox" /></th>
                                        <th>旅行社編號</th>
                                        <th>統編</th>
                                        <th>旅行社名稱</th>
                                        <th>城市</th>
                                        <th>地址</th>
                                        <th>電話</th>
                                        <th>聯絡人</th>
                                        <th>聯絡人職位</th>
                                        <th>信箱</th>
                                        <th>服務項目</th>
                                         <th>狀態</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var com in Model.Companies)
                                    {
                                        <tr>
                                                    <td><input type="checkbox" name="companyCheckbox" value="@com.CompanyId" /></td>
                                            <td>@com.CompanyId</td>
                                            <td>@com.TaxIdNumber</td>
                                            <td>@com.CompanyName</td>
                                            <td>@com.City</td>
                                            <td>@com.Address</td>
                                            <td>@com.CompanyPhone</td>
                                            <td>@com.Contact</td>
                                            <td>@com.Title</td>
                                            <td>@com.ComEmail</td>
                                           <td>@com.ServerDescription</td>
                                                    <td>
                                                        <button type="button" class="btn btn-success">停權</button>
                                                    </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
               
          
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    @section Styles{

    <link rel="stylesheet" href=https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css />
        <style>
            .card-body {
                height: unset;
            }

            .myrow {
                display: flex;
                align-content: flex-start;
                flex-direction: column;
                width: 100%;
            }

            div.dataTables_wrapper {
                margin-bottom: 3em;
            }

            .tab {
                overflow: hidden;
            background-color: #f8f9fc;
            }

                .tab button {
                    background-color: inherit;
                    float: left;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    padding: 14px 16px;
                    transition: 0.3s;
                    font-size: 17px;
                }

                    .tab button:hover {
                        background-color: #ddd;
                    }

                    .tab button.active {
                        background-color: #ccc;
                    }

            .tabcontent {
                display: none;
                padding: 6px 12px;
                border-top: none;
            }

        .no-datatable-style.sorting {
            background-image: none !important;
            cursor: default !important;
        }

        /* Remove additional attributes and inline styles */
        .no-datatable-style {
            border: none !important;
            width: auto !important;
            position: relative; /* Ensure relative positioning for pseudo elements */
        }

            /* Hide ::before and ::after pseudo elements */
            .no-datatable-style::before,
            .no-datatable-style::after {
                content: none !important;
            }

        .chkbox{
            width:15px;
        }

        .memname{
            width:80px;
        }
        </style>
    }

@section Scripts{

     <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

        <script>
            $(document).ready(function () {
                $('#memberTable').DataTable();
                $('#companyTable').DataTable();
            openAccount(null, 'Member');

            $('#bulkDisableForm').submit(function (event) {
                event.preventDefault();
                var enableValue = $('select[name="memberSelect"]').val();
                var memberIds = [];
                $('input[name="memberCheckbox"]:checked').each(function () {
                    memberIds.push(parseInt($(this).val()));
                });
                bulkDisableMembers(memberIds, enableValue === 'true');
            });
            $('select[name="memberSelect"]').change(function () {
                var selectedValue = $(this).val();
                console.log(selectedValue);
                    var enableFilter = null;
                    if (selectedValue === 'false') {
                        enableFilter = 'false'; 
                    } else if (selectedValue === 'true') {
                        enableFilter = 'true'; 
                    } else if (selectedValue === 'all') {
                        filterMemberTable(null);
                    }
                    filterMemberTable(enableFilter);
            });
        });

        function filterMemberTable(enableFilter) {
            var table = $('#memberTable').DataTable();
            if (enableFilter === null) {
                table.search('').columns().search('').draw();
            } else {
                var columnData = table.column(7).data(); // Assuming the discount column is the 8th column (index 7)
                table.search('').columns(8).search('').draw(); // Clear other filters

                var matchingIndexes = [];
                for (var i = 0; i < columnData.length; i++) {
                    var discount = columnData[i];
                    var match = (enableFilter === 'true' && discount === true);
                    if (match) {
                        matchingIndexes.push(i);
                    }
                }

                // Apply the filter using filter() method
                table.column(8).data().filter(function (value, index) {
                    return matchingIndexes.includes(index);
                }).draw();
            }
        }


            function openAccount(evt, AccountName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                tablinks[i].style.backgroundColor = ""; 
                }
            document.getElementById(AccountName).style.display = "block";
        }

      //會員全選
            var selectAllCheckbox = document.getElementById("selectAllCheckbox");
            var memberCheckboxes = document.querySelectorAll('input[name="memberCheckbox"]');
            selectAllCheckbox.addEventListener("click", function () {
                for (var i = 0; i < memberCheckboxes.length; i++) {
                    memberCheckboxes[i].checked = selectAllCheckbox.checked;
                }
            });

        //廠商全選
        var selectAllComCheckbox = document.getElementById("selectAllComCheckbox");
        var companyCheckboxes = document.querySelectorAll('input[name="companyCheckbox"]');
        selectAllComCheckbox.addEventListener("click", function () {
            for (var i = 0; i < companyCheckboxes.length; i++) {
                companyCheckboxes[i].checked = selectAllComCheckbox.checked;
            }
        });

      

        function disableMember(memberId, enable) {
            var isEnable = (enable === "true");

            var newEnable = !isEnable;
            console.log(newEnable);
            if (confirm("確定要" + (newEnable ? "復原" : "停權") + "這個會員嗎？")) {
                $.ajax({
                    url: '/Platform/DisableMember',
                    method: 'POST',
                    data: { memberId: memberId, enable: newEnable },
                    success: function (response) {
                        alert(response);
                           const btnsuspend = document.querySelector(`#btnsuspend-${memberId}`);

                        if (response === "True") {
                            btnsuspend.innerHTML = "<span>停權</span>";
                            btnsuspend.classList.remove('btn-outline-success');
                            btnsuspend.classList.add('btn', 'btn-outline-danger');
                        } else if (response === "False") {
                            btnsuspend.innerHTML = "<span>復原</span>";
                            btnsuspend.classList.remove('btn-outline-danger');
                            btnsuspend.classList.add('btn-outline-success');
                        }
                    },
                });
            }
        }


        //function bulkToggleMembers() {
        //    var selectedMembers = [];
        //    $(".memberCheckbox:checked").each(function () {
        //        selectedMembers.push($(this).val());
        //    });

        //    $.ajax({
        //        type: "POST",
        //        url: "@Url.Action("SusAllMember")",
        //        data: { memberIds: selectedMembers },
        //        success: function (response) {
        //            const btnsuspend = document.querySelector(`#btnsuspend-${memberId}`);

        //            if (response === "True") {
        //                btnsuspend.innerHTML = "<span>停權</span>";
        //                btnsuspend.classList.remove('btn-outline-success');
        //                btnsuspend.classList.add('btn', 'btn-outline-danger');
        //            } else if (response === "False") {
        //                btnsuspend.innerHTML = "<span>復原</span>";
        //                btnsuspend.classList.remove('btn-outline-danger');
        //                btnsuspend.classList.add('btn-outline-success');
        //            }
        //        }
        //    });
        //}

        $(document).ready(function () {
            $("#bulkToggleButton").click(function () {
                var selectedMembers = [];
                $("input[name='memberCheckbox']:checked").each(function () {
                    selectedMembers.push(parseInt($(this).val())); // Convert to integer
                });

                if (selectedMembers.length > 0) {
                    bulkToggleMembers(selectedMembers);
                } else {
                    // Handle case when no members are selected
                }
            });
        });

        function bulkToggleMembers(memberIds) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SusAllMember")",
                data: { memberIds: memberIds },
                traditional: true, // To properly send array
                success: function (response) {
                    // Handle success response, update UI if needed
                },
                error: function () {
                    // Handle error
                }
            });
        }
      
        </script>

    }

