@using prj_Traveldate_Core.ViewModels;
@model CArticleViewModel

@{
    ViewData["Title"] = "ArticleView";
}
@section Styles{
    <style>
        .reply-input {
            height: 100px !important;
        }

        #btnReply{
            background: #f8f9fa;
            padding:10px;
            border-radius:5px;
            color:black;
        }

        #btnReply:hover{
                background: #d3d4d5;
        }

        .dialog-box {
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 300px;
            height:400px;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
            display: none;
        }
        .showTop{
            position: absolute;
            right:0;
            max-height:320px;
            overflow-y: auto;
            z-index:100;
            background:#fff;
            width:340px;
            border: 1px solid gray;
            padding: 2px;
            border-radius:7px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

        }

        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #155074;
            border-radius: 5px;
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #74abcc;
            }
    </style>
}

<div class="row justify-content-center pb-4">
    <div class="col-10 bg-white rounded-3">
        <div class="divide-line">
        <div class="divide-line pl-4 pt-4">
                <h2>@Model.forum.Title</h2>
        </div>
            <div class="mb-4 pl-4">
                <img src="~/icons/icons8-eye-24.png" />　<span>@Model.forum.Watches　|</span>
                <img src="~/icons/icons8-like-24.png" />　<span id="likes">@Model.forum.Likes　|</span>
                <img src="~/icons/icons8-talk-24.png" />　<span>@Model.replys.Count()</span>
        </div>
            <div class="d-flex divide-line pl-4 pr-4 pb-4">
            <div>
                    @if (!string.IsNullOrEmpty(ViewBag.PhotoBase64))
                    {
                        <img src="@ViewBag.PhotoBase64" height="100" width="100" />
                    }
                    else
                    {
                        if (Model.forum.Member.Gender == "男")
                        {
                            <img src="~/icons/icons8-person-100.png" class="my-w100-h100" alt="null">
                        }
                        else
                        {
                            <img src="~/icons/icons8-person-female-100.png" class="my-w100-h100" alt="null">
                        }

                    }

            </div>
            <div class="col-8">
                <h4>@Model.forum.Member.FirstName</h4>
                <div>
                    <span>發文日期 : 2023/07/15　|　</span>
                    <span><img src="~/icons/icons8-position-16.png" />台東</span>
                </div>
                <div>
                    <span><img src="~/icons/icons8-tag-16.png" />　#水上活動　|　#一日遊</span>
                </div>
            </div>
            <div class="col-2 d-block">
                    <div class="mb-2 d-inline-flex">
                        <button id="showDialogBtn" class="btn my-btn-primary col-6 pr-2 pl-2 mr-2">聊聊</button>
                        <a class="btn my-btn-primary col-6 pr-2 pl-2" href="#">追蹤</a>
                    </div>
                    <button id="otherArticles" class="btn btn-secondary col">其他揪團文</button>
                    <div id="showOtherArticles" class="showTop"></div>
            </div>
        </div>
            <div class="plan-container">
                <div class="comments-title bg-gray-200">
                    <p>揪團詳情</p>
                </div>
            </div>
        <div class="d-flex p-3 justify-content-around">
                
            <div class="card text-bg-dark col-5 p-0 ">
                <img src="~/images/蘭嶼.jpg" class="card-img h-100" alt="蘭嶼" />
                <div class="card-img-overlay">
                    <div class="align-corner align-text-bottom">
                        <h5 class="card-title fw-bolder text-light">蘭嶼 野銀白沙冷泉</h5>
                        <p class="card-text fs-4 text-black fw-bolder text-light">TWD <span>2999</span><span class="card-text">起</span></p>
                    </div>
                </div>
            </div>
            <div class="card text-bg-dark col-5 p-0">
                <img src="~/images/東清秘境-蘭嶼.png" class="card-img h-100" alt="東清秘境" />
                <div class="card-img-overlay">
                    <div class="align-corner align-text-bottom">
                        <h5 class="card-title fw-bolder text-light">蘭嶼 東清秘境</h5>
                        <p class="card-text fs-4 text-black fw-bolder text-light">TWD <span>399</span><span class="card-text">起</span></p>
                    </div>
                </div>
            </div>
        </div>
                <div class="d-flex justify-content-center p-3 pl-4 fs-5">
                    <div class="col-10">@Html.Raw(Model.forum.Content)</div>
                </div>
            <div class="plan-container">
                <div class="comments-title bg-gray-200">
                    <p>體驗地點</p>
                </div>
                <div id="map" style="height:500px;width:509px;margin:5px auto;"></div>
            </div>
            <div name="activeForm" class="d-flex justify-content-around p-2 mt-2 mb-2 bg-gray-200">
            
            <div>
                <img src="~/icons/icons8-like-64.png" />
                <input id="btnLike" class="btn btn-light" type="button" value="讚" />
                <input id="btnCancelLike" class="btn btn-secondary d-none" type="button" value="取消讚" />
             </div>
            <div><img src="~/icons/icons8-talk-64.png" /><a href="#my-reply" id="btnReply">回覆</a></div>
            <div><img src="~/icons/icons8-group-64.png" /><input id="btnJoin" class="btn btn-light" type="button" value="我要跟團" /></div>
        </div>
        <div id="replyBody">
        @foreach (var reply in Model.replys)
        {
            <div class="d-flex divide-line-top" id="reply-@reply.ReplyId">
                <div>
                    @if (reply.Member.Photo != null)
                    {
                        <img src="data:image/jpg;base64,@Convert.ToBase64String(reply.Member.Photo)" class="my-w100-h100" alt="@reply.MemberId">
                    }
                    else
                    {
                        if (reply.Member.Gender == "男")
                        {
                            <img src="~/icons/icons8-person-100.png" class="my-w100-h100" alt="null">
                        }
                        else
                        {
                            <img src="~/icons/icons8-person-female-100.png" class="my-w100-h100" alt="null">
                        }
                    }

                </div>
                <div class="col">
                    <h4>@reply.Member.LastName@reply.Member.FirstName</h4>
                    <div>
                        <span>回覆日期 : @reply.Replytime.ToString()</span>
                    </div>
                    <div>
                        <p>@reply.Content</p>
                    </div>
                </div>
            </div>
        }
        </div>
        <div class="pl-4 pr-4">
            <form name="replyForm">
                    @if(Model.member != null)
                    {<input type="hidden" name="ForumListId" value="@Model.forum.ForumListId" />
                <input type="hidden" name="MemberId" value="@Model.member.MemberId" />
                <input type="hidden" name="ReplyTime" value="@DateTime.Now"/>
                        @Html.Partial("ReplyToDiv",Model.member)
                    }else{
                        <div>
                            <h3>登入後即可回覆文章!</h3>
                        </div>
                    }
                    
            </form>
    </div>
    </div>
</div>

<div id ="dialogBox" class="dialog-box">
    <div class="dialog-content">
        <div class="d-flex justify-content-between align-items-center bg-gray-300">
            <span>與 <span class="fw-bold text-black">@Model.forum.Member.FirstName</span> 聊聊中</span>
            <img id="btnCloseTalk" src="~/icons//icons8-x-30.png" />
        </div>
        <h3>這是對話視窗的內容</h3>
        <p>你可以在這裡放置任何內容。</p>
    </div>
</div>
</div>
<input id="isLogin" type="hidden" value="@Model.member"/>
@section Scripts{
    <script>
        $('#btnCloseTalk').on('click', () => {
            $('#dialogBox').hide()
        })
    </script>
    <script src="~/js/wait_icon_function.js"></script>
    <script>
        const $showOtherArticles = $('#showOtherArticles');
        $showOtherArticles.hide()
        //查看此發文者的其他文章
        var memeberId = @Model.forum.MemberId
            $('#otherArticles').on('click', async function () {
                const response = await fetch(`@Url.Content("~/Forum/ViewOtherArticle")?memberId=${memeberId}`)
            const datas = await response.json();
            if (datas != null) {
                console.log(datas)
                const forums = datas.map(forum => {
                        const { title, likes, watches, releaseDatetime, forumListId, prodPhotoPath } = forum
                    return (
                            `<a href="@Url.Content("~/Forum/ArticleView")?id=${forumListId}" class="list-group-item list-group-item-action">
                                    <div class="col">
                                            <img src="/images/${prodPhotoPath}" class="img-fluid img-thumbnail"/>
                                    </div> 
                                    <div class="col">
                                 <h5>${title}</h5>
                                <img src = "/icons/icons8-like-24.png" height="16"/> <span>${likes} | </span>
                                <img src= "/icons/icons8-eye-24.png" height="16"/> <span>${watches} | </span>
                                <span>發文時間 : ${releaseDatetime}</span>
                                </div>
                        </a>`
                    )
                }) 
                    const newHtml = forums.join("");
                    $showOtherArticles.html(newHtml);
                    // 切換顯示/隱藏
                    $showOtherArticles.toggle();
            }
        })


    </script>
    <script>
       /*****按讚/取消讚*****/
        $('#btnLike').click(function (b) {
            b.preventDefault();
            $.post('@Url.Content("~/Forum/Likes")', { "id": @Model.forum.ForumListId, "status": 0}, function (e) {
                $('#likes').text(e+'　|')
                $('#btnLike').hide();
                $('#btnCancelLike').removeClass("d-none")
            })
        })
        $('#btnCancelLike').click(function (b) {
            b.preventDefault();
            $.post('@Url.Content("~/Forum/Likes")', { "id": @Model.forum.ForumListId, "status": 1 }, function (e) {
                $('#likes').text(e + '　|')
                $('#btnCancelLike').addClass("d-none")
                $('#btnLike').show();
            })
        })
      /******留言區即時更新**** */
        var isLogin = $('#isLogin').val()
              if (isLogin){
            const btnSubmit = document.querySelector('#btnSubmit')
            const replyContent = document.querySelector('#replyContent')
            btnSubmit.addEventListener('click', event => {
                event.preventDefault();
                const formData = new FormData(document.replyForm);
                fetch('@Url.Content("~/Forum/ReplyTo")', {
                    body: formData,
                    method: "post"
                }).then(response => {
                    console.log(response)
                    if (response.ok) {
                        $('#replyBody').load('@Url.Content("~/Forum/Replied")' + '?id=' + @Model.forum.ForumListId)
                        replyContent.value = "";
                    } else {
                        alert('新增失敗,請確認資料')
                    }
                })
            })
      }
        

        /******GoogleAPI**** */
        const googleMapsScript = document.createElement("script");
        googleMapsScript.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyBbcL3X1HudqP8Ej1YhYQlzE9Oy3frc-rc&callback=initMap";
        document.head.appendChild(googleMapsScript);

        const addressData = @Html.Raw(Json.Serialize(Model.fforumAddress));
        console.log(addressData)

        let map;
        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 23.9, lng: 120.9 },
                zoom: 7,
            });

            const geocoder = new google.maps.Geocoder();

            for (const address of addressData) {
                geocoder.geocode({ address: address }, (results, status) => {
                    if (status === google.maps.GeocoderStatus.OK) {
                        const latitude = results[0].geometry.location.lat();
                        const longitude = results[0].geometry.location.lng();
                        const Latlng = new google.maps.LatLng(latitude, longitude);

                        new google.maps.Marker({
                            position: Latlng,
                            map: map,
                        });
                    } else {
                        console.error(status);
                    }
                });
            }
        }


        // 點擊按鈕時顯示對話視窗
        document.getElementById('showDialogBtn').addEventListener('click', function () {
            document.getElementById('dialogBox').style.display = 'block';
        });

      



    </script>
}