@*@model IEnumerable<prjTravelDate_core.Models.ForumList?>

@{
    ViewData["Title"] = "ArticleView";
}

<h1>ArticleView</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ForumListId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Likes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Watches)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ForumListId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDatetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Watches)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>*@
<div class="row justify-content-center pb-4">
    <div class="col-10 bg-white rounded-3">
        <div class="divide-line">
        <div class="divide-line pl-4 pt-4">
            <h2>揪3~5人遊蘭嶼</h2>
        </div>
            <div class="mb-4 pl-4">
            <span><img src="~/icons/icons8-eye-24.png" />　20　|</span>
            <span><img src="~/icons/icons8-like-24.png" />　6　|</span>
            <span><img src="~/icons/icons8-talk-24.png" />　20　</span>
        </div>
            <div class="d-flex divide-line pl-4 pt-4 pb-4">
            <div>
                <img src="~/icons/icons8-person-female-100.png" />
            </div>
            <div class="col">
                <h4>王曉明</h4>
                <div>
                    <span>發文日期 : 2023/07/15　|　</span>
                    <span><img src="~/icons/icons8-position-16.png" />台東</span>
                </div>
                <div>
                    <span><img src="~/icons/icons8-tag-16.png" />　#水上活動　|　#一日遊</span>
                </div>
            </div>
        </div>
      
        <div class="d-flex p-3 justify-content-around">
            <div class="card text-bg-dark col-5 p-0 ">
                <img src="~/images/蘭嶼.jpg" class="card-img h-100" alt="蘭嶼" />
                <div class="card-img-overlay">
                    <div class="align-corner align-text-bottom">
                        <h5 class="card-title fw-bolder text-light">蘭嶼 野銀白沙冷泉</h5>
                        <p class="card-text fs-4 text-black fw-bolder text-light">TWD <span>2999</span><span class="card-text">起</span></p>
                    </div>
                </div>
            </div>
            <div class="card text-bg-dark col-5 p-0">
                <img src="~/images/東清秘境-蘭嶼.png" class="card-img h-100" alt="東清秘境" />
                <div class="card-img-overlay">
                    <div class="align-corner align-text-bottom">
                        <h5 class="card-title fw-bolder text-light">蘭嶼 東清秘境</h5>
                        <p class="card-text fs-4 text-black fw-bolder text-light">TWD <span>399</span><span class="card-text">起</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex p-3 justify-content-start pl-4">
            <p>
                揪旅伴2~3名,女性~<br />
                Day1:野銀白沙冷泉<br />
                Day2:野銀白沙冷泉<br />
                <br />
                費用:大約3500~4000元
            </p>
        </div>
        <div class="d-flex p-3 justify-content-center">
            <img class="col-6" src="~/images/蘭嶼舊燈塔.jpg" width="auto" />
            <img class="col-6" src="~/images/蘭嶼情人洞.jpg" width="auto" />
        </div>
        </div>
        <div class="d-flex justify-content-around p-2 mt-2 mb-2">
            <div><img src="~/icons/icons8-like-64.png" /><input class="btn btn-light" type="button" value="讚" /></div>
            <div><img src="~/icons/icons8-talk-64.png" /><input class="btn btn-light" type="button" value="回覆" /></div>
            <div><img src="~/icons/icons8-group-64.png" /><input class="btn btn-light" type="button" value="我要跟團" /></div>
        </div>
        <div class="pl-4 pr-4">
        <div class="d-flex divide-line-both">
            <div>
                <div><img src="~/icons/icons8-person-100.png" /></div>
            </div>
            <div class="col">
                <h4>陳大偉</h4>
                <div>
                    <span>回覆日期 : 2023/07/16</span>
                </div>
                <div>
                    <p>我也好想去蘭嶼玩!</p>
                </div>
            </div>
        </div>
        <div class="d-flex divide-line-both">
            <div>
                <div><img src="~/icons/icons8-person-female-100.png" /></div>
            </div>
            <div class="col">
                <h4>黃花花</h4>
                <div>
                    <span>回覆日期 : 2023/07/18</span>
                </div>
                <div>
                    <p>有興趣!請問還有缺人嗎?</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>