@model List<ScheduleList>;
@{
    ViewData["Title"] = "Edit";
}
@section Styles{

    <!-- Summernote CSS -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    @* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        .my-Heading-color {
            color: #155074;
        }

        .divScrollBar {
            max-height: 200px;
            overflow-y: auto;
            border: 1px solid gray;
            border-radius: 7px;
            padding: 2px;
        }

        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #155074;
            border-radius: 5px;
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #74abcc;
            }
    </style>
  }
<div class="row justify-content-center pb-4">
    <h3 class="pl-2 pr-2 my-Heading-color fw-bolder col-10">修改揪團文章</h3>
    <div class="col-10 bg-white rounded-3 p-4 d-flex justify-content-center">
        <div class="col-11">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                @* <input type="hidden" value="@ViewBag.memberId" name="MemberId" /> *@
                <input type="text" value="@Model.Select(n=>n.ForumListId).First()" name="ForumListId" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group fs-5">
                    <p class="control-label divide-line fs-3">文章標題</p>
                    <span class="fs-5 bg-gray-100 rounded border p-2">@Model.Select(n=>n.ForumList.Title).First() </span>
                </div>
                <p class="control-label divide-line fs-3">旅行項目與日期</p>
                @foreach(var a in Model.Select(n => n.Trip))
                {
                    <div>
                        <div class="divAddTrips bg-light mb-1 p-2 rounded border">
                            <div class="d-flex d-1">
                                <div class="form-group pl-0 mb-0 col-8">
                                    <span class="fs-5">@a.Product.ProductName</span>
                                </div>
                                <div class="form-group mb-0 col-2">
                                    <span class="fs-5">@a.Date.Value.ToString("yyyy-MM-dd")</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="fs-5 fw-bolder text-black showPrice" id="showPrice-1">$ @a.UnitPrice</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                

                <div class="form-group pl-0 fs-5 mt-4">
                    <div class="control-label divide-line">
                        <span class="fs-3">截團日期 </span>
                        <i class="small text-gray-700">(請選擇最近旅行日期前三天)</i>
                        <img src="~/icons//icons8-information.gif" height="18" data-bs-toggle="tooltip" data-bs-placement="top" title="為確保行程安排順暢,本平台將截團日期限制於旅行前三日,敬請見諒" />
                    </div>
                    <div class="mt-1 p-2 bg-gray-100 rounded border col-4"><span>@Model.Select(f=>f.ForumList.DueDate.Value.ToString("yyyy-MM-dd")).First()</span></div>
                </div>
                <div class="form-group fs-5">
                    <textarea id="summernote" name="Content">
                    @Html.Raw(Model.Select(n=>n.ForumList.Content).First())
                   </textarea>
                </div>
                <div class="form-group d-flex justify-content-end">
                    <div class="d-flex align-items-center">
                        <a asp-action="Index" asp-controller="Member" class="btn btn-outline-secondary ml-1 fs-5">取消修改</a>
                        <input type="submit" class="btn btn-outline-secondary ml-1 fs-5" value="儲存"/>
                    </div>
                </div>
            </form>
            <a asp-action="Index" asp-controller="Member" class="fs-5 my-text-primary fw-bolder">回到會員專區</a>
        </div>
    </div>
    <div>
    </div>
</div>

@section Scripts{
    <!-- Summernote JS -->
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                placeholder: '請輸入內容...',
                height: 500 // 設定編輯器的高度
            });
        });
    </script>
}