@using prj_Traveldate_Core.ViewModels;
@model CForumListViewModel
@{
    ViewData["Title"] = "ForumList";
}
@section TopImage{
    <img class="col p-0" src="~/Images/top_photo_01.png " class="opacity-75" height="400"/>
}
@section Styles{
    <style>
        .my-article-item{
            display:flex;
            flex-direction:row;
            margin:0 0 10px 0;
            justify-content:center;
            background:#fff;
            border-radius:10px;
            padding: 5px 0 5px 0;
           
        }

        .my-article-item>div>p{
            margin:0 0 3px 0;
        }
        .fs-4,.fs-3,.fs-5,span{
            color:gray;
        }
    </style>
}

<div class="row g-0 column-gap-5 justify-content-center main">
    <div class="col-3 forum-block">
        <div class="p-3 mt-2 mb-2">
            <a asp-action="Create" class="fs-4 my-text-primary write-conatiner  d-flex align-items-center  text-secondary fw-bold">
                <img class="write-icon-static me-3" src="~/icons/icons8-pencil-32.png">
                <img class="write-icon-gif me-3" src="~/icons/icons8-pencil.gif" width="32" height="32">
                我要發文
            </a>
        </div>
        <div class="p-3 mt-2 mb-2">
            <span class="fs-4 fw-bold">搜尋文章</span>
            <div class="controls-display-row search_container">
                <img class="search-icon-static me-3" src="~/icons/icons8-search-static-32.png">
                <img class="search-icon-gif me-3" src="~/icons/icons8-search.gif" width="32" height="32">
                <input class="search-input" type="text" placeholder="請輸入文章標題">
            </div>
        </div>
        <div class="p-3 mt-2 mb-2">
            <label class="fs-4 pl-2 pt-2 fw-bold">依旅遊地區</label>
                @* <partial name="@Url.Content("~/Forum/Region")"></partial> *@
            @Html.Partial("Region",Model.regions)
        </div>
        <div class="p-3 mt-2 mb-2">
            @Html.Partial("Category",Model.categories)
        </div>
    </div>
    <div class="col-8 forum-block">
        <div class="p-3 mt-2 mb-2">
            <p class="fs-3 divide-line fw-bold">精選文章</p>
            <div class="row g-0 column-gap-5 justify-content-center pt-3 pb-3">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-inner ">
                        @foreach(var topTen in Model.forumList.OrderByDescending(t=>t.ForumListId))
                        {
                            //bool isFirstItem = i == 1; // 判斷是否是第一次迴圈
                            <div class="carousel-item">
                                <div class="d-flex row g-0 justify-content-center">
                                    <div class="border rounded p-3 me-4 col-5">
                                            <a asp-action="ArticleView" class="text-secondary">
                                            <p class="fs-4 text-black">文章標題 </p>
                                            <div class="d-flex align-items-end">
                                                <img src="~/icons/icons8-person-100.png" width="64" height="64" />
                                                <div>
                                                <small class="text-body-secondary d-block">
                                                    <span>發文者</span><span> | 發文時間 : 2023/07/30</span><span> | 回覆數 : 1000</span>
                                                </small>
                                                     <small class="text-body-secondary d-block">
                                                    <span>#水上活動</span><span>#景點門票</span><span>#宜蘭</span>
                                                </small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                        <div class="border rounded p-3 col-5">
                                        @{
                                           // i++;
                                        }
                                        <a asp-action="ArticleView" class="text-secondary">
                                                <p class="fs-4 text-black">文章標題 </p>
                                            <div class="d-flex align-items-end">
                                                    <img src="~/icons/icons8-person-100.png" width="64" height="64" />
                                                    <div>
                                                    <small class="text-body-secondary d-block">
                                                        <span>發文者</span><span> | 發文時間 : 2023/07/30</span><span> | 回覆數 : 1000</span>
                                                    </small>
                                                         <small class="text-body-secondary d-block">
                                                        <span>#水上活動</span><span>#景點門票</span><span>#宜蘭</span>
                                                    </small>
                                                    </div>
                                                </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    
                    <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="align-items-center row my-bg-primary my-img-circle  my-w50-h50"><span class="carousel-control-prev-icon col" aria-hidden="true"></span></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="align-items-center row my-bg-primary my-img-circle  my-w50-h50"><span class="carousel-control-next-icon col" aria-hidden="true"></span></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="p-2 mt-2 mb-2">
            <div class="sort d-flex align-items-center fs-6 my-text-primary pl-3">
                <span class=" fw-bolder ">排序 :  </span>
                <span>　</span>
                <a href="#" class=" fw-bolder">發文時間</a>
                <span>　|　</span>
                <a href="#" class=" fw-bolder">回覆數</a>
                <span>　|　</span>
                <a href="#" class=" fw-bolder">截團日期(近到遠)</a>
            </div>
        </div>
        
        @foreach (var article in Model.schedules.OrderBy(f => f.ForumList.DueDate))
        {
            <a asp-action="ArticleView" asp-route-id="@article.ForumListId" class="my-article-item text-secondary">
                <div class="col-2 m-1">
                    @if (Model.prodPhoto.Any(p => p.prodId == article.Trip.ProductId))
                    {
                        var imgPath = Model.prodPhoto.FirstOrDefault(p => p.prodId==article.Trip.ProductId).prodPhotoPath;
                        <img class="img-fluid img-thumbnail " src="~/images/@imgPath" alt="@article.Trip.Product.ProductName" />
                    }
                </div>

                <div class="border col-5 m-1 d-flex row p-0">
                        <p class="pt-1">@article.ForumList.Title</p>
                    <div class="d-flex align-items-end">
                    <span class="small">@article.ForumList.Member.Level.Level</span>
                        <span class="small"> | @article.ForumList.Member.LastName@article.ForumList.Member.FirstName</span>
                        <span class="small"> | 發文時間 : @article.ForumList.ReleaseDatetime.Value.ToString("yyyy/MM/d")</span>
                    </div>
                </div>
                <div class="border col-2 m-1 pt-1">回覆數 : @article.ForumList.ReplyLists.Where(r=>r.ForumListId==article.ForumListId).Count()</div>
                    <div class="border col-2 m-1">
                    <p class="pt-1">截團日期 : </p>
                    @if (article.ForumList.DueDate.HasValue && (article.ForumList.DueDate.Value - DateTime.Now).TotalDays < 30)
                    {
                        <div class="d-flex justify-content-center"><img src="~/icons/icons8-hourglass-32.png" width="24" height="24" /><p class="fs-5 text-danger">@article.ForumList.DueDate.Value.ToString("yyyy/MM/d")</p></div>
                    }
                    else{
                        <p class="fs-5 my-text-secondary">@article.ForumList.DueDate.Value.ToString("yyyy/MM/d")</p>
                        }

                </div>
                       
            </a>
            }
    
        <div class="d-flex justify-content-center bg-transparent border-0">
            <div class="col-7 d-flex justify-content-around">
                @for (int i = 1; i < 7; i++)
                {
                    @*<input class="page-itme my-bg-secondary text-white rounded border border-secondary-subtle" type="button" value="@i " />*@
                    <button type="button" class="btn btn-outline-secondary"> @i </button>
                }
            </div>
        </div>
    </div>
</div>
@* <script src="~/js/jquery-3.4.1.js"></script> *@
<script src="~/js/forumList_jq.js"></script>
