@using X.PagedList.Mvc.Core;
@using prj_Traveldate_Core.ViewModels;

@model CForumListViewModel
@{
    ViewData["Title"] = "ForumList";
}
@section TopImage{
    <img class="col p-0" src="~/Images/top_photo_01.png " class="opacity-75" height="400"/>
}
@section Styles{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
       
        .pagination > li > a {
            position: relative;
            display: block;
            padding: 0.5rem 0.75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #4F4F4F;
            background-color: #fff;
            border: 1px solid #dee2e6;
        }

       
        .pagination > .active {
            position: relative;
            display: block;
            padding: 0.5rem 0.75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #fff;
            background-color: #155074;
            border: 1px solid #dee2e6;
        }


        .page-link-cust {
            position: relative;
            display: block;
            padding: 0.5rem 0.75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #4F4F4F;
            background-color: #fff;
            border: 1px solid #dee2e6;
        }
        .my-article-item{
            display:flex;
            flex-direction:row;
            margin:0 0 10px 0;
            justify-content:center;
            background:#fff;
            border-radius:10px;
            padding: 5px 0 5px 0;
           
        }

        .my-article-item>div>p{
            margin:0 0 3px 0;
           
        }
        .fs-4,.fs-3,.fs-5,span{
            color:gray;
        }

        .topTen {
            height:330px;
            border-radius:7px;
            background: #D1E9E9;
        }

            .my-article-item:hover {
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
        }

        .my-sm-text{
            font-size:14px;
        }

        .topTen:hover {
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
        }

        .topTenContent{
            margin: 5px 0 0 0;
            max-height:78px;
            background:#fff;
            padding:2px;
            border-radius:5px 5px 0 0 ;
            overflow:hidden
        }

        .topTenDiv{
            width:95%;
        }

        .topTenContentDot{
            
            padding:0 0 0 5px;
            border-radius: 0 0 5px 5px;
        }

        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #155074;
            border-radius: 5px;
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #74abcc;
            }
    </style>
}

<div class="row g-0 column-gap-5 justify-content-center main">
    <div class="col-3 forum-block">
        <div class="p-3 mt-2 mb-2">
            <a id="confirmedLoginStatus" asp-action="Create" class="fs-4 my-text-primary write-conatiner  d-flex align-items-center  text-secondary fw-bold">
                <img class="write-icon-static me-3" src="~/icons/icons8-pencil-32.png">
                <img class="write-icon-gif me-3" src="~/icons/icons8-pencil.gif" width="32" height="32">
                我要發文
            </a>
            <button id="test">123</button>
        </div>
        <div class="p-3 mt-2 mb-2">
            <span class="fs-4 fw-bold">搜尋文章</span>
            <div class="controls-display-row search_container">
                <img class="search-icon-static me-3" src="~/icons/icons8-search-static-32.png">
                <img class="search-icon-gif me-3" src="~/icons/icons8-search.gif" width="32" height="32">
                <input id="keyword-for-forum" class="search-input" type="text" placeholder="請輸入文章關鍵字"/>
            </div>
        </div>
        <div class="p-3 mt-2 mb-2">
            <label class="fs-4 pl-2 pt-2 fw-bold">依旅遊地區</label>
                @* <partial name="@Url.Content("~/Forum/Region")"></partial> *@
            @Html.Partial("Region",Model.regions)
        </div>
        <div class="p-3 mt-2 mb-2">
            @Html.Partial("Category",Model.categories)
        </div>
    </div>
    <div class="col-8 forum-block">
        <div class="p-3 mt-2 mb-2">
            <p class="fs-3 divide-line fw-bold"><img src="~/images/top.png" width="36"/>精選TOP10文章</p>
            <div class="row g-0 column-gap-5 justify-content-center pt-3 pb-3">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-inner d-flex align-items-center" style="height:340px">
                        @for (int i = 0; i <Model.topTen.Take(10).Count(); i ++)
                        {
                            bool isFirstItem = i == 0; // 判斷是否是第一次迴圈
                            var currenSchedule = Model.topTen[i];
                            i++;
                            var nextSchedule = Model.topTen[i];
                            <div class="carousel-item @(isFirstItem ? "active" : "")">
                                <div class="d-flex row g-0 justify-content-center">
                                    <div class="topTen p-3 me-4 col-5">
                                        @{
                                            var f_memName = Model.schedules.Where(s => s.ForumListId == currenSchedule.forumlistid).Select(n => n.ForumList.Member.FirstName).First();
                                            var f_memPhoto = Model.schedules.Where(s => s.ForumListId == currenSchedule.forumlistid).Select(n => n.ForumList.Member.Photo).First();
                                            var f_memGneder = Model.schedules.Where(s => s.ForumListId == currenSchedule.forumlistid).Select(n => n.ForumList.Member.Gender).First();
                                            var f_time = Model.schedules.Where(s => s.ForumListId == currenSchedule.forumlistid).Select(n => n.ForumList.ReleaseDatetime.Value.ToString("yyyy/MM/dd")).First();
                                            var f_reply = Model.replyList.Where(r => r.ForumListId == currenSchedule.forumlistid).Count();
                                            var f_tags = Model.productTags.Where(t => t.ProductId == currenSchedule.prodId).ToList();
                                        }
                                        <a asp-action="ArticleView" asp-route-id="@currenSchedule.forumlistid" class="text-secondary">
                                            <div class="d-flex align-items-end justify-content-center">
                                                <div class="topTenDiv">
                                                        <p class="fs-4 text-black fw-bold">@currenSchedule.title</p>
                                                <div class="text-body-secondary d-flex">
                                                            <div class="mr-2 d-flex align-items-center">
                                                            @if (f_memPhoto != null)
                                                            {
                                                                <img src="data:image/jpg;base64,@Convert.ToBase64String(f_memPhoto)" width="64" height="64" />
                                                            }
                                                            else
                                                            {
                                                                if (f_memGneder == "男")
                                                                {
                                                                    <img src="~/icons/icons8-person-100.png" width="64" height="64" />
                                                                }
                                                                else
                                                                {
                                                                    <img src="~/icons/icons8-person-female-100.png" width="64" height="64" />
                                                                }

                                                                }
                                                            </div>
                                                            <div>
                                                            <p class="mb-1 fs-5 fw-bold text-black">主揪人 : @f_memName</p>
                                                             <span>發文時間 : @f_time</span>
                                                                <span class="d-block"><img src="~/icons/icons8-talk-24.png" height="16" /> @f_reply 人</span>
                                                            <div class="text-body-secondary d-block">
                                                                <img src="~/icons/icons8-tag-16.png" />
                                                                @foreach (var tag in f_tags)
                                                                {
                                                                    <span>#@tag.ProductTagDetails.ProductTagDetailsName</span>
                                                                }

                                                            </div>
                                                            </div>
                                                            
                                                </div>
                                                     
                                                        <div class="topTenContent">@Html.Raw(currenSchedule.content)</div><div class="bg-white topTenContentDot">…</div>
                                                </div>
                                            </div>
                                            
                                        </a>
                                    </div>
                                    <div class="topTen p-3 col-5">
                                        @{
                                            var s_memName = Model.schedules.Where(s => s.ForumListId == nextSchedule.forumlistid).Select(n => n.ForumList.Member.FirstName).First();
                                            var s_memPhoto = Model.schedules.Where(s => s.ForumListId == nextSchedule.forumlistid).Select(n => n.ForumList.Member.Photo).First();
                                            var s_memGneder = Model.schedules.Where(s => s.ForumListId == nextSchedule.forumlistid).Select(n => n.ForumList.Member.Gender).First();
                                            var s_time = Model.schedules.Where(s => s.ForumListId == nextSchedule.forumlistid).Select(n => n.ForumList.ReleaseDatetime.Value.ToString("yyyy/MM/dd")).First();
                                            var s_reply = Model.replyList.Where(r => r.ForumListId == nextSchedule.forumlistid).Count();
                                            var s_tags = Model.productTags.Where(t => t.ProductId == nextSchedule.prodId).ToList();
                                        }
                                        <a asp-action="ArticleView" asp-route-id="@nextSchedule.forumlistid" class="text-secondary">
                                            <div class="d-flex align-items-end justify-content-center">
                                                <div class="topTenDiv">
                                                    <p class="fs-4 text-black  fw-bold">@nextSchedule.title</p>
                                                    <div class="text-body-secondary d-flex">
                                                        <div class="mr-2 d-flex align-items-center">
                                                            @if (s_memPhoto != null)
                                                            {
                                                                <img src="data:image/jpg;base64,@Convert.ToBase64String(s_memPhoto)" width="64" height="64" />
                                                            }
                                                            else
                                                            {
                                                                if (s_memGneder == "男")
                                                                {
                                                                    <img src="~/icons/icons8-person-100.png" width="64" height="64" />
                                                                }
                                                                else
                                                                {
                                                                    <img src="~/icons/icons8-person-female-100.png" width="64" height="64" />
                                                                }

                                                            }
                                                        </div>
                                                        <div>
                                                            <p class="mb-1 fs-5 fw-bold text-black">主揪人 : @s_memName</p>
                                                            <span>發文時間 : @s_time</span>
                                                            <span class="d-block"><img src="~/icons/icons8-talk-24.png" height="16" /> @s_reply 人</span>
                                                            <div class="text-body-secondary d-block">
                                                                <img src="~/icons/icons8-tag-16.png" />
                                                                @foreach (var tag in s_tags)
                                                                {
                                                                    <span>#@tag.ProductTagDetails.ProductTagDetailsName</span>
                                                                }

                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="topTenContent">@Html.Raw(nextSchedule.content)</div><div class="bg-white topTenContentDot">…</div>
                                                </div>
                                            </div>

                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    
                    <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="align-items-center row my-bg-primary my-img-circle  my-w50-h50"><span class="carousel-control-prev-icon col" aria-hidden="true"></span></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="align-items-center row my-bg-primary my-img-circle  my-w50-h50"><span class="carousel-control-next-icon col" aria-hidden="true"></span></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="p-2 mt-2 mb-2">
            <div class="divide-line pl-3">
                <span id="total" class="fs-3 fw-bolder me-2">@Model.schedules.Count()</span><span class="fs-5 my-text-primary">
                    <img src="~/icons/icons8-rhombus-loader.gif" class="d-none loading-icon" />
                    項體驗行程
                </span>
                <div id="selected-checkboxes"><input type="button" class="btn btn-secondary d-none cleanAll mr-1" value="清除全部" onclick="clearAllFiltered()" /></div>

            </div>
            <div class="sort d-flex align-items-center fs-6 my-text-primary pl-3">
                <span class=" fw-bolder ">排序 :  </span>
                <span>　</span>
                <a href="#" class=" fw-bolder">發文時間</a>
                <span>　|　</span>
                <a href="#" class=" fw-bolder">回覆數</a>
                <span>　|　</span>
                <a href="#" class=" fw-bolder">截團日期(近到遠)</a>
            </div>
        </div>
        <div id="filterBody" class="bg-transparent">
        @foreach (var article in Model.pages.OrderBy(f => f.ForumList.DueDate))
        {
            <a asp-action="ArticleView" asp-route-id="@article.ForumListId" class="my-article-item text-secondary">
                <div class="col-2 m-1">
                    @if (article.Trip?.Product != null && Model.prodPhoto.Any(p => p.prodId == article.Trip.ProductId))
                    {
                        var imgPath = Model.prodPhoto.FirstOrDefault(p => p.prodId==article.Trip.ProductId).prodPhotoPath;
                        <img class="img-fluid img-thumbnail " src="~/images/@imgPath" alt="@article.Trip.Product.ProductName" />
                    }
                </div>

                <div class="rounded bg-gray-100 col-5 m-1 d-flex row p-0">
                        <p class="pt-1 fs-5 fw-bold text-black">@article.ForumList.Title</p>
                    <div class="d-flex align-items-end">
                            @{
                                var memLevel = article.ForumList.Member.Level.Level;
                            }
                            @switch (memLevel)
                            {
                            case "黑鑽會員":
                                    <img src="~/icons/level_dimond48.png" height="24"><span class="my-sm-text">@article.ForumList.Member.Level.Level</span>
                            break;
                                case "白銀會員":
                                    <img src="~/icons/level-slover-50.png" height="24">
                                    <span class="my-sm-text">@article.ForumList.Member.Level.Level</span>
                                    break;
                                case "黃金會員":
                                    <img src="~/icons/level-gold-50.png" height="24">
                                    <span class="my-sm-text">@article.ForumList.Member.Level.Level</span>
                            break;
                            default:
                                    <img src="~/icons/level-gold-50.png" height="24"/>
                                    <span class="my-sm-text">@article.ForumList.Member.Level.Level</span>
                            break;
                            }
                            
                            
                        <span class="my-sm-text"> | @article.ForumList.Member.LastName@article.ForumList.Member.FirstName</span>
                        <span class="my-sm-text"> | 發文時間 : @article.ForumList.ReleaseDatetime.Value.ToString("yyyy/MM/d")</span>
                    </div>
                </div>
                    <div class="rounded bg-gray-100 col-2 m-1 pt-1">回覆數 : @article.ForumList.ReplyLists.Where(r=>r.ForumListId==article.ForumListId).Count()</div>
                <div class="rounded bg-gray-100 col-2 m-1">
                    <p class="pt-1 fs-5 fw-blod">截團日期 : </p>
                    @if (article.ForumList.DueDate.HasValue && (article.ForumList.DueDate.Value - DateTime.Now).TotalDays < 30)
                    {
                        <div class="d-flex justify-content-center"><img src="~/icons/icons8-hourglass-32.png" width="24" height="24" /><p class="fs-5 text-danger">@article.ForumList.DueDate.Value.ToString("yyyy/MM/d")</p></div>
                    }
                    else{
                        <p class="fs-5 my-text-secondary">@article.ForumList.DueDate.Value.ToString("yyyy/MM/d")</p>
                        }

                </div>
                       
            </a>
            }
            <div class="d-flex justify-content-center bg-transparent border-0">
                <div class="col-7 d-flex justify-content-around">
                    @Html.PagedListPager(Model.pages, page => Url.Action("ForumList", new { page}))
                </div>
            </div>
        </div>

@section Scripts{
            <script>
                var pageNumber = 1;
                function test() {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("filteredSchedules", "Forum")",
                        data: {
                            // tags: selectedTags, cities: selectedCities, types: selectedTypes,
                            // startTime: startTime, endTime: endTime,
                            // minPrice: minPrice, maxPrice: maxPrice,
                            page: pageNumber
                        },
                        success: function (response) {
                            // hideLoadingIcon()
                            $('#filterBody').html(response)
                            $('#total').html($('#updateTotal').val());
                            window.scrollTo({
                                top: 0,
                                behavior: 'smooth'
                            });
                            
                           

                        },
                        error: function (error) {
                            console.log("發生錯誤：", error);
                        }
                    });
                }
            </script>
    <script>
        $('#test').on('click', function () {
                    test()
        })
    </script>
    <script src="~/js/forumList_jq.js"></script>
    <script>
         function loginInfo() {
            Swal.fire({
                icon: 'info',
                title: '請先登入會員!',
                showConfirmButton: true,
                confirmButtonText: '前往登入頁面', // 修改確認按鈕文字
            })
        }
        var isLoggedIn = $('#loginMem').text()
        $('#confirmedLoginStatus').on('click', function () {
            if (!isLoggedIn) {
                loginInfo(); 
            }
        });

    </script>
            <script>
                $('#keyword-for-forum').on('input', function (event) {
loadFilteredForum($(this).val())
                })
                function loadFilteredForum(keyword) {
                    fetch('@Url.Content("~/Forum/KeyWordForForum")?keyword=' + keyword,
                        { method: 'GET' })
                        .then(response => response.text())
                        .then(data => {
                            $('#filteredBody').html(data)
                        })
                }
            </script>
        }

