@model prj_Traveldate_Core.Models.Companion
@{
    ViewData["Title"] = "addCompanion";
}

<div class="container mt-2">
    <div class="d-flex row">
        <div class="col-md-3">
            <div id="div1">
                <div class="cell" id="div3">
                    <div class="cell d-flex flex-column">
                        <img src="~/icons/User profile - border vector image.png" class="userIcon" />
                        <ul class="list-group leftarea mt-3">
                            <li class="list-group-item menuItem" data-content="subItem1">Travel Date</li>
                            <li class="list-group-item menuItem" data-content="subItem2">一般會員</li>
                        </ul>

                    </div>
                    <div class="cell" id="div2">
                        <ul class="list-group leftarea lgmenu mt-3">
                            <li class="list-group-item menuItem">@Html.ActionLink("基本資料設定", "basicInfo","Member","",new {@class="black-link"})</li>
                            <li class="list-group-item menuItem">@Html.ActionLink("密碼更改", "passwordChange","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">@Html.ActionLink("優惠券清單", "couponList","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">@Html.ActionLink("新增旅伴資料", "addCompanion","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">@Html.ActionLink("收藏清單", "favoriteList","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">@Html.ActionLink("會員訂單", "orderList","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">@Html.ActionLink("我的評論", "commentList","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">@Html.ActionLink("我的揪團", "forumList","Member","",new {@class="black-link"})</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 右半邊 - 內容容器 -->
        <div class="col-md-9">
            <h3 class="mb-4">新增旅伴資料</h3>
            <div id="rightPanel">
                @*<div class="form-group"><label for="MemberId">Id</label><input type="text" id="txtLastName" class="form-control" /></div>*@
                <div class="form-group"><label for="LastName">姓</label><input type="text" id="txtLastName" class="form-control" /></div>
                <div class="form-group"><label for="FirstName">名</label><input type="text" id="txtFirstName" class="form-control" /></div>
                <div class="form-group"><label for="Gender">性別</label><select id="txtGender" class="form-control"><option value="">請選擇</option><option value="female">女性</option><option value="male">男性</option></select></div>
                <div class="form-group"><label for="BirthDate">出生日期</label><input type="date" id="txtBirthDate" class="form-control" /></div>
                @*<div class="form-group"><label asp-for="txtRegion">地區</label><select id="txtRegion" class="form-control"><option value="">請選擇</option><option value="台北市">台北市</option><option value="新北市">新北市</option><option value="桃園市">桃園市</option><option value="台中市">台中市</option><option value="台南市">台南市</option><option value="高雄市">高雄市</option><option value="新竹縣">新竹縣</option><option value="苗栗縣">苗栗縣</option><option value="彰化縣">彰化縣</option><option value="雲林縣">雲林縣</option><option value="嘉義縣">嘉義縣</option><option value="屏東縣">屏東縣</option><option value="宜蘭縣">宜蘭縣</option><option value="花蓮縣">花蓮縣</option><option value="台東縣">台東縣</option><option value="澎湖縣">澎湖縣</option><option value="金門縣">金門縣</option><option value="連江縣">連江縣</option><option value="基隆市">基隆市</option><option value="新竹市">新竹市</option><option value="嘉義市">嘉義市</option></select></div>*@
                <div class="form-group"><label for="Phone">手機號碼</label><input type="text" id="txtPhoneNumber" class="form-control" /></div>
                <div class="form-group"><label for="Email">聯絡信箱</label><input type="text" id="txtEmail" class="form-control" /></div>
                <div class="form-group">
                    <button type="submit" class="btn my-btn-primary">增加</button>
                    <button type="submit" class="btn btn-outline-secondary">@Html.ActionLink("常用旅客", "showCompanion","Member","","")</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
            <img src="https://picsum.photos/id/454/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/177/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/442/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/440/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/583/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/770/1500/300" class="d-block w-100" alt="...">
        </div>
    </div>
</div>

    @section Styles
    {
    <link rel="stylesheet" href="~/css/Member.css" asp-append-version="true" />
    }

