@model prj_Traveldate_Core.ViewModels.CCompanionViewModel
@using System.ComponentModel;
@using System.ComponentModel.DataAnnotations;

@{
    ViewData["Title"] = "addCompanion";
}

<div class="container mt-2">
    <div class="d-flex row">
        <div class="col-md-3">
            <div id="div1">
                <div class="cell" id="div3">
                    <div class="cell d-flex flex-column">
                        @{
                            if (ViewBag.photo != null)
                            {
                                                <div style="text-align:center;background-color:white;border-radius:10px">
                                                    <img src="@ViewBag.PhotoBase64" width="150" height="150" />
                                                </div>
                            }
                            else
                            {
                                                <img src="~/icons/User profile - border vector image.png" style="width: 150px; height: 150px;" />
                            }
                        }

                        <ul class="list-group leftarea mt-3">
                            <li class="list-group-item menuItem" data-content="subItem1"> <span><img style="height:50px;width:45px;padding-bottom:5px" src="~/icons/icon-hi-2(member).gif" /></span><b style="font-weight:bolder;font-size:19px;padding-top:-50px">@ViewBag.LastName@ViewBag.firstName</b></li>
                            <li class="list-group-item menuItem" data-content="subItem2" style="background-color:whitesmoke; margin-top:-10px">@ViewBag.level </li>
                        </ul>

                    </div>
                    <div class="cell" id="div2">
                        <ul class="list-group leftarea lgmenu mt-3 ">
                            <li class="list-group-item menuItem">@Html.ActionLink("基本資料設定", "basicInfo","Member","",new {@class="black-link"})</li>
                            <li class="list-group-item menuItem">@Html.ActionLink("密碼更改", "passwordChange","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">
                                @Html.ActionLink("優惠券清單", "couponList","Member","",new {@class="black-link"})
                                <span class="badge rounded-pill bg-danger">@ViewBag.countscoupon</span>
                            </li>
                            <li class="list-group-item menuItem">@Html.ActionLink("常用旅伴", "showCompanion","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">
                                @Html.ActionLink("收藏清單", "favoriteList","Member","",new {@class="black-link"})
                                <span class="badge rounded-pill bg-danger">@ViewBag.countsfavorite</span>
                            </li>
                            <li class="list-group-item menuItem">
                                @Html.ActionLink("會員訂單", "orderList","Member","",new {@class="black-link"})
                                <span class="badge rounded-pill bg-danger">@ViewBag.countsorder</span>
                            </li>
                            <li class="list-group-item menuItem">
                                @Html.ActionLink("我的評論", "commentList","Member","",new {@class="black-link"})
                                <span class="badge rounded-pill bg-danger">@ViewBag.countscomment</span>
                            </li>
                            <li class="list-group-item menuItem">
                                @Html.ActionLink("我的揪團", "forumList","Member","",new {@class="black-link"})
                                <span class="badge rounded-pill bg-danger">@ViewBag.ForumLists</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 右半邊 - 內容容器 -->
        <div class="col-md-9">
            <h3 class="mb-4"><b>新增旅伴資料</b></h3>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/HomePage/HomePage">首頁</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="~/Login/Login"> 會員登入</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="~/Member/showCompanion"> 常用旅伴</a></li>
                    <li class="breadcrumb-item active" aria-current="page">新增旅伴</li>
                </ol>
            </nav>
            <div id="rightPanel">
                @using (Html.BeginForm("addCompanion", "Member", FormMethod.Post))
                {
                    <div class="form-group">                     
                        @Html.HiddenFor(model => model.MemberId)
                    </div>

                    <div class="form-group">
                    @Html.LabelFor(model=>model.LastName)
                        @Html.EditorFor(model=>model.LastName,"id=LastName",new {htmlAttributes=new{@class="form-control"}})
                        @* <span asp-validation-for="LastName" class="text-danger">姓氏為必填</span> *@
                    @* @Html.ValidationMessage("姓氏為必填","*") *@
                    </div>

                    <div class="form-group">
                    @Html.LabelFor(model=>model.FirstName)
                        @Html.EditorFor(model=>model.FirstName,"id=FirstName",new {htmlAttributes=new{@class="form-control"}})
                    </div>

                    <div class="form-group">
                        <label for="Gender" id="Gender">性別</label><select id="txtGender" class="form-control"><option value="">請選擇</option><option value="female">女性</option><option value="male">男性</option></select>
                    </div>

                    <div class="form-group">
                    @Html.LabelFor(model=>model.BirthDate)
                    @Html.EditorFor(model=>model.BirthDate,"",new {htmlAttributes=new{@class="form-control"}})
                    </div>

                    <div class="form-group">
                    @Html.LabelFor(model=>model.Phone)
                        @Html.EditorFor(model=>model.Phone,"id=Phone",new {htmlAttributes=new{@class="form-control"}})
                    </div>

                    <div class="form-group">
                        <label for="Email">聯絡信箱</label>
                        <input type="text" id="Email" class="form-control" />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn my-btn-primary" id="btnAddCompanion">增加</button>

                        <button type="submit" class="btn btn-outline-secondary">@Html.ActionLink("返回", "showCompanion","Member","","")</button>
                    
                    </div>
                    <button type="submit" class="btn my-btn-primary" id="addDEMO">DEMO</button>
                }
            </div>
        </div>
    </div>
</div>

@*<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
            <img src="https://picsum.photos/id/454/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/177/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/442/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/440/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/583/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/770/1500/300" class="d-block w-100" alt="...">
        </div>
    </div>
</div>*@

    @section Styles
    {
    <link rel="stylesheet" href="~/css/Member.css" asp-append-version="true" />
    }
@section scripts{
    <script>
            const btnAddCompanion = document.getElementById('btnAddCompanion');
            btnAddCompanion.addEventListener('click', () => {
                swal("新增旅伴成功！", "稍後將自動為您導向", "success");
            });
    </script>


    <script>

        document.addEventListener('DOMContentLoaded', function () {
            const addDEMO = document.getElementById('addDEMO');
            addDEMO.addEventListener('click', function () {
                // 填充表單輸入欄位

                document.getElementById('FirstName').value = '名';
                document.getElementById('LastName').value = '吳';
                document.getElementById('Gender').value = '男';
                document.getElementById('BirthDate').value = '1993/6/8';
                document.getElementById('Phone').value = '0922333444';
                document.getElementById('Email').value = 'qwe123@gmail.com';

                // // 可選：顯示Demo照片
                // const imagePreview = document.getElementById('imagePreview');
                // imagePreview.src = '填充的圖片URL';
            });
        });
    </script>
}
