@model prj_Traveldate_Core.Models.Member
@{
    ViewData["Title"] = "basicInfo";
}

@*<h1>basicInfo</h1>*@
<div class="container mt-2">
    <div class="row">
        <div class="col-md-3">
            <div id="div1">
                <div class="cell" id="div3">
                    <div class="cell d-flex flex-column">
                        <img src="~/icons/User profile - border vector image.png" class="userIcon" />
                        <ul class="list-group leftarea mt-3">
                            @Html.LabelFor(model=>model)
                            <li class="list-group-item menuItem" data-content="subItem1"> <span><img style="height:50px;width:45px;padding-bottom:5px" src="~/icons/icon-hi-2(member).gif" /></span><b style="font-weight:bolder;font-size:19px;padding-top:-50px">@ViewBag.LastName@ViewBag.firstName</b></li>
                            <li class="list-group-item menuItem" data-content="subItem2" style="background-color:whitesmoke; margin-top:-10px">@ViewBag.level </li>
                            
                        </ul>

                    </div>
                    <div class="cell" id="div2">
                        <ul class="list-group leftarea lgmenu mt-3">
                            <li class="list-group-item menuItem">@Html.ActionLink("基本資料設定", "basicInfo","Member","",new {@class="black-link"})</li>
                            <li class="list-group-item menuItem">@Html.ActionLink("密碼更改", "passwordChange","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">@Html.ActionLink("優惠券清單", "couponList","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">@Html.ActionLink("新增旅伴", "showCompanion","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">@Html.ActionLink("收藏清單", "favoriteList","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">@Html.ActionLink("會員訂單", "orderList","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">@Html.ActionLink("我的評論", "commentList","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">@Html.ActionLink("我的揪團", "forumList","Member","",new {@class="black-link"})</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

            <!-- 右半邊 - 內容容器 -->
            
        <div class="col-md-9">
            
            <h3 class="mb-4"><b>基本資料設定</b></h3>
            <div id="rightPanel">
@*                @foreach (var member in Model)
                {*@
                @using (Html.BeginForm("basicInfo","Member",FormMethod.Post)){
                    <div class="form-group">
                        @Html.LabelFor(model=>model.MemberId)
                        @Html.EditorFor(model=>model.MemberId,"",new {htmlAttributes=new{@class="form-control"}})
                        </div>
                    <div class="form-group">
                        @Html.LabelFor(model=>model.LastName)
                        @Html.EditorFor(model=>model.LastName,"",new {htmlAttributes=new{@class="form-control"}})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model=>model.FirstName)
                        @Html.EditorFor(model=>model.FirstName,"",new {htmlAttributes=new{@class="form-control"}})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model=>model.Gender)
                        @Html.EditorFor(model=>model.Gender,new {htmlAttributes=new{@class="form-control"}})
                    </div>
                    <div class="form-group">
@*                         @{
                            DateTime birthDate = DateTime.Parse(member.BirthDate.ToString());
                            string formattedBirthDate = member.BirthDate.Value.ToString("yyyy-MM-dd");
                            } *@
                        @Html.LabelFor(model=>model.BirthDate)
                        @Html.EditorFor(model=>model.BirthDate,"",new {htmlAttributes=new{@class="form-control"}})
                    </div>
                    <div class="form-group">
                         @Html.LabelFor(model=>model.Phone)
                        @Html.EditorFor(model=>model.Phone,"",new {htmlAttributes=new{@class="form-control"}})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model=>model.Email)
                        @Html.EditorFor(model=>model.Email,"",new {htmlAttributes=new{@class="form-control"}})
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn my-btn-primary">儲存</button>
                    </div>
                }
                
            </div>
            
        </div>



    
@*<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
            <img src="https://picsum.photos/id/454/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/177/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/442/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/440/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/583/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/770/1500/300" class="d-block w-100" alt="...">
        </div>
    </div>
</div>*@

    @section Styles
    {
    <link rel="stylesheet" href="~/css/Member.css" asp-append-version="true" />
    }

