

@{
    ViewData["Title"] = "couponList3";
}

@*<h1>couponList3</h1>*@

@*<table>
    <thead>
        <tr>
            <th>Coupon List ID</th>
            <th>Coupon Name</th>
            <th>Discount</th>
            <th>Description</th>
            <th>Due Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CouponListId</td>
                <td>@item.CouponName</td>
                <td>@item.Discount</td>
                <td>@item.Description</td>
                <td>@item.DueDate</td>
            </tr>
        }
    </tbody>
</table>*@

@*================================================================================================================*@
<div class="container mt-2">
    <div class="row">
        <div class="col-md-3">
            <div id="div1">
                <div class="cell" id="div3">
                    <div class="cell d-flex flex-column">
                        <img src="~/icons/User profile - border vector image.png" class="userIcon" />
                        <ul class="list-group leftarea mt-3">
                            <li class="list-group-item menuItem" data-content="subItem1">Travel Date</li>
                            <li class="list-group-item menuItem" data-content="subItem2">一般會員</li>
                        </ul>

                    </div>
                    <div class="cell" id="div2">
                        <ul class="list-group leftarea lgmenu mt-3">
                            <li class="list-group-item menuItem">@Html.ActionLink("基本資料設定", "basicInfo","Member","",new {@class="black-link"})</li>
                            <li class="list-group-item menuItem">@Html.ActionLink("密碼更改", "passwordChange","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">@Html.ActionLink("優惠券清單", "couponList","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">@Html.ActionLink("新增旅伴資料", "addCompanion","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">@Html.ActionLink("收藏清單", "favoriteList","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">@Html.ActionLink("會員訂單", "orderList","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">@Html.ActionLink("我的評論", "commentList","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">@Html.ActionLink("我的揪團", "forumList","Member","",new {@class="black-link"})</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 右半邊 - 內容容器 -->
        <div class="col-md-9">
            <h3 class="mb-4">優惠券清單</h3>
            <div id="rightPanel">
                <table class="col-md-9 table-hover">
                    <tr>
@*                        <th>Coupon List ID</th>*@
                        <th></th>
                        <th>優惠券名稱</th>
                        <th>折扣</th>
                        <th>描述</th>
                        <th>到期日</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
@*                            <td>@item.CouponListId</td>*@
                            <td>●</td>
                            <td>@item.CouponName</td>
                            <td>@item.Discount</td>
                            <td>@item.Description</td>
                            <td>@item.DueDate.ToString("yyyy-MM-dd")</td>
                        </tr>
                    }
                </table>
            </div>
        </div>

    </div>
</div>

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
            <img src="https://picsum.photos/id/454/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/177/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/442/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/440/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/583/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/770/1500/300" class="d-block w-100" alt="...">
        </div>
    </div>
</div>

@section Styles
    {
    <link rel="stylesheet" href="~/css/Member.css" asp-append-version="true" />
    }

