
@{
    ViewData["Title"] = "Index";
}

@*<h1>帳號設定</h1>
*@

<div class="container mt-2">
    <div class="row">
        <div class="col-md-3">
            <div id="div1">
                <div class="cell" id="div3">
                    <div class="cell d-flex flex-column">
                        <img src="~/icons/User profile - border vector image.png" class="userIcon" />
                        <ul class="list-group leftarea mt-3">
                            <li class="list-group-item menuItem" data-content="subItem1"> <span><img style="height:50px;width:45px;padding-bottom:5px" src="~/icons/icon-hi-2(member).gif" /></span><b style="font-weight:bolder;font-size:19px;padding-top:-50px">@ViewBag.LastName@ViewBag.firstName</b></li>
                            <li class="list-group-item menuItem" data-content="subItem2" style="background-color:whitesmoke; margin-top:-10px">@ViewBag.level </li>
                        </ul>

                    </div>
                    <div class="cell" id="div2">
                        <ul class="list-group leftarea lgmenu mt-3" >
                            <li class="list-group-item menuItem border-0">@Html.ActionLink("基本資料設定", "basicInfo","Member","",new {@class="black-link"})</li>
                            <li class="list-group-item menuItem border-0">@Html.ActionLink("密碼更改", "passwordChange","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem border-0">@Html.ActionLink("優惠券清單", "couponList","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem border-0">@Html.ActionLink("新增旅伴", "showCompanion","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem border-0">@Html.ActionLink("收藏清單", "favoriteList","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem border-0">@Html.ActionLink("會員訂單", "orderList","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem border-0">@Html.ActionLink("我的評論", "commentList","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem border-0">@Html.ActionLink("我的揪團", "forumList","Member","",new {@class="black-link"})</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- 右半邊 - 內容容器 -->
        <div class="col-9">
            <h1 class="mb-4" style="color:#00000098"><b>會員專區</b></h1>
            <div id="rightPanel">
                <!-- 這裡會顯示根據左邊所選擇的按鈕而改變的內容 -->
                <div class="form-group">
                    <h2 style="margin:150px 150px 310px 280px;line-height:80px; color:#9D9D9D; text-align:justify"><span>～TravelDate 與您一起～<br></span></h2>
                    <h3 style="margin:-250px 260px 300px 300px; color:#9D9D9D; text-align:right">Enjoy Your Date </h3>
                    <img src="~/images/Member-index-1.gif" style="width:900px;height:500px;border-radius:10px;margin-top:-650px;margin-left:0px;margin-right:-270x;margin-bottom:-60px; opacity:8%" />
                   
                </div>
            </div>
        </div>
        </div>
</div>

<p></p>
@*<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
            <img src="https://picsum.photos/id/454/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/177/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/442/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/440/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/583/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/770/1500/300" class="d-block w-100" alt="...">
        </div>
    </div>
</div>*@

@section Styles
{
    <link rel="stylesheet" href="~/css/Member.css" asp-append-version="true" />
}

