
    ViewData["Title"] = "orderList";
}

<div class="container mt-2">
    <div class="row">
        <div class="col-md-3">
            <div id="div1">
                <div class="cell" id="div3">
                    <div class="cell d-flex flex-column">
                        <img src="~/icons/User profile - border vector image.png" class="userIcon" />
                        <ul class="list-group leftarea mt-3">
                            <li class="list-group-item menuItem" data-content="subItem1">Travel Date</li>
                            <li class="list-group-item menuItem" data-content="subItem2">一般會員</li>
                        </ul>

                    </div>
                    <div class="cell" id="div2">
                        <ul class="list-group leftarea lgmenu mt-3">
                            <li class="list-group-item menuItem">@Html.ActionLink("基本資料設定", "basicInfo","Member","",new {@class="black-link"})</li>
                            <li class="list-group-item menuItem">@Html.ActionLink("密碼更改", "passwordChange","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">@Html.ActionLink("優惠券清單", "couponList","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">@Html.ActionLink("新增旅伴資料", "addCompanion","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">@Html.ActionLink("收藏清單", "favoriteList","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">@Html.ActionLink("會員訂單", "orderList","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">@Html.ActionLink("我的評論", "commentList","Member","",new {@class="black-link"}) </li>
                            <li class="list-group-item menuItem">@Html.ActionLink("我的揪團", "forumList","Member","",new {@class="black-link"})</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- 右半邊 - 內容容器 -->
        <div class="col-md-9">
            <h3 class="mb-4">會員訂單</h3>
            <div id="rightPanel">
                <table class="table-hover">
                    <tr>
                        <th></th>
                        <th>評論</th>
                        <th>訂購日期</th>
                        <th>行程日期</th>
                        <th>商品名稱</th>
                        @*<th>行程描述</th>*@
                    </tr>

                    @{
                        //int count = 0;
                        foreach (var item in Model)
                        {
                            //count++;
                            <tr>
                                <td>●</td>
     
                                <td>@Html.ActionLink("評論", "addcomment","Member","",new {@class="btn my-btn-primary btn-sm"})</td>
                                <td>@item.Datetime</td>
                                <td>@item.Date.ToString("yyyy-MM-dd")</td>
                                <td>@item.ProductName</td>

                            </tr>
                        }


                    //  <tr>
                    //    <td>序號1</td>
                    //    <td>@Html.ActionLink("評論", "addcomment","Member","",new {@class="btn my-btn-primary btn-sm"})</td>
                    //    <td>蘭嶼三天兩夜</td>
                    //    <td>2023-06-19</td>
                    //    <td>2023-06-26</td>
                    //    <td>蘭嶼三天兩夜</td>
                    //</tr>
                    // <tr>
                    //    <td>序號2</td>
                    //    <td>@Html.ActionLink("評論", "addcomment","Member","",new {@class="btn my-btn-primary btn-sm"})</td>
                    //    <td>澎湖一日遊</td>
                    //    <td>2023-07-06</td>
                    //    <td>2023-07-15</td>
                    //    <td>水上八合一無限遊玩</td>
                    //</tr>
                    //<tr>
                    //    <td>序號3</td>
                    //    <td>@Html.ActionLink("評論", "addcomment","Member","",new {@class="btn my-btn-primary btn-sm"})</td>
                    //    <td>宜蘭太平山二日遊</td>
                    //    <td>2023-07-15</td>
                    //    <td>2023-07-30</td>
                    //    <td>雙人房</td>
                    //</tr>
                        }
                 </table>
            </div>
        </div>

    </div>
</div>

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
            <img src="https://picsum.photos/id/454/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/177/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/442/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/440/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/583/1500/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="https://picsum.photos/id/770/1500/300" class="d-block w-100" alt="...">
        </div>
    </div>
</div>

<styles>

</styles>

    @section Styles
    {
    <link rel="stylesheet" href="~/css/Member.css" asp-append-version="true" />
    }