
@{
    ViewData["Title"] = "passwordChange";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div id="div1">
                <div class="cell" id="div3">

                    <ul style="position:static;padding-left:40px" class="list-group">
                        <img src="~/icons/User profile - border vector image.png" style="width:180px;height:180px       />
                        <li class="list-group-item menuItem" data-content="subItem1"></li>
                    </ul>

                    <ul style="padding-top:16px;text-align:center; border-color:white" class="list-group">
                        <li class="list-group-item menuItem" data-content="subItem1">Travel Date</li>
                        <li class="list-group-item menuItem" data-content="subItem2">一般會員</li>
                    </ul>


                    <div style="padding-left:0px" class="cell" id="div2">
                        <ul style="padding-top:24px" class="list-group">
                            <li class="list-group-item menuItem"><td class="link-offset-2 link-underline link-underline-opacity-0" href="#">@Html.ActionLink("基本資料設定", "basicInfo","Member","",new {@class="black-link"})</td></li>
                            <li class="list-group-item menuItem"><td class="link-offset-2 link-underline link-underline-opacity-0" href="#">@Html.ActionLink("密碼更改", "passwordChange","Member","",new {@class="black-link"})</td></li>
                            <li class="list-group-item menuItem"><td class="link-offset-2 link-underline link-underline-opacity-0" href="#">@Html.ActionLink("優惠券清單", "couponList","Member","",new {@class="black-link"})</td</li>
                            <li class="list-group-item menuItem"><td class="link-offset-2 link-underline link-underline-opacity-0" href="#">@Html.ActionLink("新增旅伴資料", "addCompanion","Member","",new {@class="black-link"})</td</li>
                            <li class="list-group-item menuItem"><td class="link-offset-2 link-underline link-underline-opacity-0" href="#">@Html.ActionLink("收藏清單", "favoriteList","Member","",new {@class="black-link"})</td></li>
                            <li class="list-group-item menuItem"><td class="link-offset-2 link-underline link-underline-opacity-0" href="#">@Html.ActionLink("會員訂單", "orderList","Member","",new {@class="black-link"})</td></li>
                            <li class="list-group-item menuItem"><td class="link-offset-2 link-underline link-underline-opacity-0" href="#">@Html.ActionLink("我的評論", "commentList","Member","",new {@class="black-link"})</td></li>
                            <li class="list-group-item menuItem"><td class="link-offset-2 link-underline link-underline-opacity-0" href="#">@Html.ActionLink("我的揪團", "forumList","Member","",new {@class="black-link"})</td></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 右半邊 - 內容容器 -->
        <div class="col-md-8">
            <div id="rightPanel">
                <div class="form-group"><label for="txtNewPassword">輸入新密碼</label><input type="password" id="txtNewPassword" class="form-control" /></div>
                <div class="form-group"><label for="txCheckPassword">確認新密碼</label><input type="password" id="txCheckPassword" class="form-control" /></div>
               <div class="form-group">
                <button type="button" class="btn btn-primary" name="txtPassword">變更密碼</button>
                </div>
            </div>
        </div>

    </div>

    @section Styles
    {
    <style>
    #rightPanel {
        margin-left: 64px; /* Adjust the left margin to create space between rightPanel and the cells */
    }
    .black-link {
        color: black;
        text-decoration: none;
    }
    .black-link:hover{
        color: #155074;
       text-decoration: none;
    }
</style>
    
    }

