@using prj_Traveldate_Core.Models;
@using prj_Traveldate_Core.ViewModels;
@model CSearchListViewModel;

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@foreach (var item in Model.filterProducts)
{
    string salesCount = "";
    if (item.orederCount > 1000)
    {
        salesCount = $"{item.orederCount / 1000} K+ 個已訂購";
    }
    else
    {
        salesCount = $"{item.orederCount} 個已訂購";
    }
    <input type="hidden" value="@Html.DisplayFor(modelItem => item.productTags)" />
    <a asp-action="Product" asp-controller="Program" asp-route-id="@item.productID" class="text-secondary">
        <div class="card mb-3 col-12 p-0">
            <div class="row g-0">
                <div class="col-md-4 pr-0 ">
                    @if (item.photo != null)
                    {
                        <div class="overflow-hidden my-rounded-start d-flex justify-content-center" style="background:#408080	">
                            <img src="data:image/jpg;base64,@Convert.ToBase64String(item.photo)" height="250" />
                        </div>
                    }

                    else
                    {
                        <div class="overflow-hidden my-rounded-start my-bg-primary d-flex justify-content-center">
                            <img src="~/icons/logos/Logo_traveldate.png" alt="@item.productName" height="250" />
                        </div>
                    }

                </div>
                <div class="col-md-8 pl-0">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.productName)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.outlineForSearch) </p>
                        <p class="card-text">
                            <small class="text-body-secondary">@Html.DisplayFor(modelItem => item.date) 前</small>
                            <small class="text-body-secondary"> | <img src="~/icons/icons8-position-16.png">@Html.DisplayFor(modelItem => item.city) </small>
                        </p>
                        <div class="row align-items-end">
                            <div class="col d-flex align-items-center">
                                <div class="rectangle-container me-2 d-flex position-relative">
                                    <div class="rectangle"></div>
                                    <img class="star-rating" src="~/icons/star-rating.png">
                                    <input type="hidden" id="rating-value" value="@item.commentAvgScore">
                                </div>
                                <small class="text-body-secondary">@Html.DisplayFor(modelItem => item.strComment)</small>
                                <small class="text-body-secondary"> | @salesCount</small>
                            </div>
                            <div class="col">
                                <p class="card-text fs-5 fw-bolder text-end"><span>TWD </span>@Html.DisplayFor(modelItem => item.price)<span class="fs-6 fw-normal">起</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
}