@model prj_Traveldate_Core.Models.MyModels.CProductWrap
@{
    ViewData["Title"] = "Edit";
}

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <div class="sidebar-brand d-flex align-items-center justify-content-center">
            <div class="sidebar-brand-icon">
                <img src="~/icons/navigation.png" class="icon" id="sidebarToggleTop" />
            </div>
            <div class="sidebar-brand-text mx-3 nav-menu">主選單</div>
        </div>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="~/Dashboard/List">
                <img src="~/icons/home.png" class="subicon" />
                <span>首頁</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCompany"
               aria-expanded="true" aria-controls="collapseCompany">
                <img src="~/icons/company.png" class="subicon" />
                <span>廠商專區</span>
            </a>
            <div id="collapseCompany" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="~/Company/Edit">帳號管理</a>
                </div>
            </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <img src="~/icons/edit.png" class="subicon" />
                <span>商品管理</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="~/Product/List">商品列表</a>
                    <a class="collapse-item" href="~/Product/Create">新增商品</a>
                    <a class="collapse-item" href="~/Trip/List">商品行程</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAnalyze"
               aria-expanded="true" aria-controls="collapseAnalyze">
                <img src="~/icons/company.png" class="subicon" />
                <span>數據分析</span>
            </a>
            <div id="collapseAnalyze" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="~/Analysis/SellAnalysis">銷售分析</a>
                </div>
            </div>
        </li>

    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->

            <div class="container-fluid">
                <h2>新增產品</h2>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-6">

                            @*<!-- Basic Card Example -->*@
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary cardTitle">基本資料</h6>
                                </div>
                                <div class="card-body">

                                    <div class="form-group">
                                        <label class="control-label">產品名稱</label>
                                        <input asp-for="ProductName" class="form-control" />
                                        <span asp-validation-for="ProductName" class="text-danger"></span>
                                    </div>

                                    <div class=" form-group">
                                        <label class="control-label">產品類型</label>
                                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                            @foreach (string type in Model.types)
                                            {
                                                <option>@type</option>
                                            }

                                        </select>
                                    </div>

                                    <div class=" form-group">
                                        <label class="control-label">所在國家</label>
                                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                            @foreach (string type in Model.countries)
                                            {
                                                <option>@type</option>
                                            }
                                        </select>
                                    </div>

                                    <div class=" form-group">
                                        <label class="control-label">所在城市</label>
                                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                            @foreach (string type in Model.cities)
                                            {
                                                <option>@type</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">產品地址</label>
                                        <input asp-for="Address" class="form-control" />
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">輪播圖</label>
                                        <input type="file" class="form-control" id="photoInput" multiple />

                                    </div>


                                </div>
                            </div>
                        </div>

                        @*<!-- Basic Card Example -->*@
                        <div class="col-md-6">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary cardTitle">產品標籤</h6>
                                </div>
                                <div class="card-body">
                                    @foreach (var c in Model.categoryAndTags)
                                    {

                                        <div class="controls-display-row category-click">
                                            <span class="fs-5">@Html.DisplayFor(modelItem => c.category)</span>
                                            <div class="d-flex justify-content-end">
                                                <img id="arrow_bottom_down" src="~/icons/arrow_bottom_down_icon.png">
                                                <img id="arrow_top_up" src="~/icons/arrow_top_up_icon.png">
                                            </div>
                                        </div>
                                        <div class="ms-lg-4 filter-block-toggle">
                                            <ul class="list-unstyled m">
                                                @foreach (var t in c.tags.Distinct())
                                                {
                                                    <li class=" d-flex align-items-center divide-line my-w-80-percent">
                                                        <input type="checkbox" />
                                                        <span>@Html.DisplayFor(modelItem => t)</span>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>




                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            @*<!-- Basic Card Example -->*@
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary cardTitle">產品描述</h6>
                                </div>
                                <div class="card-body">

                                    <div class="form-group">
                                        <label class="control-label">搜尋頁大綱</label>
                                        <input asp-for="OutlineForSearch" class="form-control" />
                                        <span asp-validation-for="OutlineForSearch" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">大綱</label>
                                        <input asp-for="Outline" class="form-control" />
                                        <span asp-validation-for="Outline" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">產品描述</label>
                                        <textarea name="Description" class="form-control col-lg-12"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary cardTitle">方案</h6>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="control-label">方案名稱</label>
                                        <input asp-for="PlanName" class="form-control" />
                                        <span asp-validation-for="PlanName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">方案描述</label>
                                        <textarea name="PlanDescription" class="form-control col-lg-12"></textarea>
                                        <span asp-validation-for="PlanDescription" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>


                            @*<!-- Basic Card Example -->*@
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">行程詳情</h6>
                                </div>
                                <div class="card-body">
                                    <label class="control-label">照片</label>
                                    <input type="file" class="form-control" id="photoInput" />
                                    <label class="control-label">行程描述</label>
                                    <textarea class="col-lg-12" id="descriptionInput"></textarea>
                                    <button type="button" id="addButton" class="form-control">新增</button>
                                </div>
                            </div>





                            @*<!-- Basic Card Example -->*@
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">現有行程</h6>
                                </div>
                                <div class="card-body" id="contentContainer">
                                    <ul id="sortable">
                                        <li id="ui-state-default">
                                            <div class="card mb-3">
                                                <div class="row g-0">
                                                    <div class="col-md-4">
                                                        <img src="~/images/東清秘境-蘭嶼.png" class="img-fluid rounded-start" alt="...">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="card-body">
                                                            <div class="modal-header">
                                                                <h5 class="card-title">第1天</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>

                                                            <p class="card-text">清澈深藍的海水顏色是蘭嶼海域獨有，一年四季都可找到適合潛點的蘭嶼，裙狀珊瑚礁環繞，海底地形變化複雜，黑潮支流更帶來了眾多的迴游魚類。透明清澈的水質，長年維持能見度 30 - 50 公尺。低度的人為開發、達悟族人永續經營的精神讓蘭嶼的水域仍然保持豐富的海洋生態，小丑魚尼莫、藍刀鯛多莉、大型龍王鯛甚至是魔鬼魟都悠遊在這片海域。讓專業教練帶領你，學習水肺潛水的基本技巧，揹上氣瓶潛進潛進蘭嶼獨有魔力的湛藍海水。</p>

                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </li>

                                        <li id="ui-state-default">
                                            <div class="card mb-3">
                                                <div class="row g-0">
                                                    <div class="col-md-4">
                                                        <img src="~/images/促銷3.jpg" class="img-fluid rounded-start" alt="...">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="card-body">
                                                            <div class="modal-header">
                                                                <h5 class="card-title">第2天</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>

                                                            <p class="card-text">蘭嶼有著特殊的地理位置，豐富的水中生態、海上景觀、透明清澈的海面、一望無際的藍天，每年隨黑潮而來的飛魚，更是孕育了神秘且深度的達悟精神。當地的口說文化，沒有紙筆紀錄，口耳相傳，只有跟著當地教練一同深入蘭嶼，才能認識道地的蘭嶼精神。希望藉由提升旅遊品質，帶給旅人們最深度的一趟旅行，讓蘭嶼的文化之美，在旅人心中傳承且發芽。</p>

                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    

                                    

                                </div>
                            </div>





                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>

                        </div>

                    </div>





                </form>

                <div>
                    <a asp-action="List">取消</a>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
        <script>
            $(function () {
                $("#sortable").sortable({
                    revert: true
                });
                $("#draggable").draggable({
                    connectToSortable: "#sortable",
                    helper: "clone",
                    revert: "invalid"
                });
                $("ul, li").disableSelection();
            });
        </script>
    }
    <script src="~/js/search_jq.js"></script>
}
@section Styles{
    <style>
        .card-body {
            height: unset;
        }

        .cardTitle {
            font-size: 25px;
        }
    </style>
 }

